[2022-05-31 12:49] welkeyever opened #21 "Add more comments"
**Describe the solution you'd like**

Add more clear comments.

1. Comments for all public struct and functions

[2022-05-31 12:51] welkeyever opened #22 "Add more examples"
**Describe the solution you'd like**

Add more representative easy-to-use examples

[2022-05-31 14:16] hiqsociety opened #23 "Netpoll prints connection error when wrk stress test ends"
possible to show us how to test with wrk or apache bench? coz cant test against fasthttp etc.
got this as response

[code]

ab -n 100 -c 100 http://127.0.0.1:8888/
This is ApacheBench, Version 2.3 <$Revision: 1843412 $>
Copyright 1996 Adam Twiss, Zeus Technology Ltd, http://www.zeustech.net/
Licensed to The Apache Software Foundation, http://www.apache.org/

Benchmarking 127.0.0.1 (be patient)...a

[2022-05-31 14:27] hiqsociety opened #24 "any reverse proxy example?"
any reverse proxy example? thx

[2022-05-31 14:30] hiqsociety opened #25 "tls example? sry not very sure how to do it."
tls example? sry not very sure how to do it.

[2022-05-31 14:35] hiqsociety opened #26 "examples not working"
https://github.com/cloudwego/hertz-examples/

examples... not working.

[2022-05-31 14:52] welkeyever commented on #26
This repo is on the way, please wait a little bit.

[2022-05-31 15:07] hiqsociety commented on #23
try with wrk -t 1 -d 10 -c 100 http://127.0.0.1:8888/
error as mentioned

[code]

[2022-05-31 15:43] welkeyever commented on #23
Got it! Thanks for your report. We will check on this.

[2022-06-01 03:33] bodhisatan opened #28 "Hope Hertz supports swagger middleware"
**Is your feature request related to a problem? Please describe.**

Recently I work on the [mall preject](https://github.com/cloudwego/kitex-examples/pull/28), I want to reconstruct the api layer to Hertz, but I need a swagger tool to generate api doc

**Describe the solution you'd like**

support Hertz swagger middleware

**Describe alternatives you've considered**

**Additional context**

[2022-06-01 06:31] welkeyever commented on #23
I will remove the bug label here, coz the root cause behind this error is that wrk close connection rudely by just reset the connection. More info you could find here: https://github.com/wg/wrk/issues/360.

At this moment netpoll (the default network impl under hertz)  will print this connection reset error directly. We will take a deep look at it and discuss a final solution for this kind of situ

[2022-06-01 06:34] welkeyever commented on #23
cc @Hchenn @joway

[2022-06-01 06:37] hiqsociety commented on #23
it's not professional to say to ignore this. apache bench and wrk cannot show any results. in any case, this http stress testing doesnt work. any work arounds to stress test hertz now? doesnt make sense at all as i have tested so many that works.

[2022-06-01 07:31] welkeyever commented on #23
Sorry, I forgot about the ab.

The reason that `ab -n 100 -c 100 http://127.0.0.1:8888/` didn't return is that hertz does not close the connection after processing a non-keepalived request. I'll fix it, and for now you may add the `-k` flag to work around with it.

If it's still not working, pls let me know.

[2022-06-01 08:35] welkeyever opened #30 "Close connection after responding a short connection request (http1 case)"
**Is your feature request related to a problem? Please describe.**

In #23, if http1 server does not close connection after responding the short connection request from ab(apache bench), ab will wait until timeout.

**Describe the solution you'd like**

A quick way to make it work is closing the connection from the server side.

**Describe alternatives you've considered**

Be careful about the err

[2022-06-02 03:30] byene0923 opened #32 "no use for FsHandler"
route has the [statisFS](https://github.com/cloudwego/hertz/blob/9ced80f0fdfca80d478af48635921ff52fb30bd2/pkg/route/routergroup.go#L74) interface. and [FsHandler](https://github.com/cloudwego/hertz/blob/9ced80f0fdfca80d478af48635921ff52fb30bd2/pkg/app/fs.go#L1237) is not use any more, I think this can be deleted

[2022-06-02 03:44] Duslia commented on #25
hertz-examples has been public. You can refer to https://github.com/cloudwego/hertz-examples/tree/main/protocol/tls

[2022-06-02 03:44] Duslia commented on #26
It has been set to public. Please refer to https://github.com/cloudwego/hertz-examples

[2022-06-02 03:51] welkeyever commented on #32
Thanks for your report!

`FsHandler` is indeed not used anymore. Would you like to submit a pr to fix it?

[2022-06-02 03:54] byene0923 commented on #32
sure

[2022-06-02 13:20] JellyTony opened #35 "http 框架不支持服务发现吗"
自身没有注册服务发现，不能网关通过服务发现代理该服务或者通过服务发现调用该服务

[2022-06-02 15:27] Duslia commented on #24
Thanks for feedback. This feature is on the way.

[2022-06-03 00:23] #25 closed

[2022-06-03 08:24] bodhisatan commented on #28
I finished one: https://github.com/bodhisatan/hertz-swagger, can it be merged into `hertz-contrib` after PR? @welkeyever

[2022-06-04 01:16] hiqsociety commented on #24
it's a godsent! thx! u guys are the best!

[2022-06-04 19:30] byene0923 opened #39 "feat:support brotli/br"
**Is your feature request related to a problem? Please describe.**

hertz only support gzip in [fs.go](https://github.com/cloudwego/hertz/blob/develop/pkg/app/fs.go#L273). may support brotli/br?

**Describe the solution you'd like**

I think hertz  can support it like https://github.com/valyala/fasthttp/pull/880

**Describe alternatives you've considered**

**Additional context**

[2022-06-05 05:56] lgbgbl opened #40 "feat: change the type of Data in protobuf render for avoiding panic"
**Is your feature request related to a problem? Please describe.**

https://github.com/cloudwego/hertz/blob/48fb76f90e8130d09a555bac3126ef5aa05f34dc/pkg/app/server/render/protobuf.go#L59-L62
r.Data is an empty interface object, panic occurs when r.Data doesn't implement proto.Message.

**Describe the solution you'd like**
Before:
https://github.com/cloudwego/hertz/blob/48fb76f90e8130d09a555bac3126

[2022-06-06 03:49] Duslia commented on #28
It has been merged. Please refer to https://github.com/hertz-contrib/swagger

[2022-06-06 03:49] #28 closed

[2022-06-06 03:50] Duslia commented on #32
It has been merged.

[2022-06-06 03:50] #32 closed

[2022-06-06 06:51] welkeyever commented on #35
hertz 的 server 和 client都支持中间件，这部分需求可以直接通过中间件的方式按需扩展（同时也是内部实现的方式）；这部分通用的能力暂时还在梳理当中，着急的话可以按照上述思路搞一版，有任何问题都欢迎在这个issue下讨论~

[2022-06-06 10:47] manchurio opened #43 "希望支持websocket"
**Describe the solution you'd like**

作为网关用， 希望支持websocket

[2022-06-06 13:42] byene0923 opened #46 "feat: add Custom inerface in IRoutes interface"
**Is your feature request related to a problem? Please describe.**

may hertz suport Custom interface for [IRoutes](https://github.com/cloudwego/hertz/blob/develop/pkg/route/routergroup.go#L61) ?

**Describe the solution you'd like**
`Custom([]string, string, ...app.HandlerFunc) IRoutes`

and the implemention like
[code]

**Describe alternatives you've considered**

**Additional context**

[2022-06-07 05:46] Duslia commented on #39
I 'd like to know why you want Hertz to support brotli/br? Or could you pls tell me why gzip cannot satisfy your requirements so that we support it with a high priority.

[2022-06-07 05:50] Duslia commented on #46
I think it's just a syntactic sugar and may not lead to real improvement. Why you want to add this interface? If it is reasonable, I can add it.

[2022-06-07 06:20] byene0923 commented on #46
yeah,  it's just a syntactic sugar, but i see [IRoutes](https://github.com/cloudwego/hertz/blob/develop/pkg/route/routergroup.go#L64) has the Any interface, i think may be it is a syntactic sugar too?. so why not add the Custom interface?

[2022-06-07 09:31] Duslia commented on #46
emmm I don't think this reason is sufficient. Maybe you can define it in your project?

[2022-06-07 11:23] Duslia commented on #23
The reason that ab cannot work is server doesn't close the short connection. We looked up a lot of RFC doc and there isn't a specific definition. In TCP, the party that closes the connection actively needs to wait 2RTT time. So if there are too many connections hang up, the server won't accept more connections. We consider that let client wait 2RTT seems more reasonable. So we won't support ab sho

[2022-06-08 01:29] #46 closed

[2022-06-08 07:23] GuangmingLuo opened #48 "[docs]: translate hertz/tutorials/example"
zh web page：https://www.cloudwego.io/zh/docs/hertz/tutorials/example/
zh doc：https://github.com/cloudwego/cloudwego.github.io/blob/main/content/zh/docs/hertz/tutorials/example/_index.md
en folder：https://github.com/cloudwego/cloudwego.github.io/tree/main/content/en/docs/hertz/tutorials

Notes:
1. Do not change the original layout, code style or content sequence.
2. Software Translator is a tool, n

[2022-06-08 07:23] GuangmingLuo opened #49 "[docs]: translate hertz/tutorials/basic-feature/network-lib"
zh web page：https://www.cloudwego.io/zh/docs/hertz/tutorials/basic-feature/network-lib/
zh doc：https://github.com/cloudwego/cloudwego.github.io/blob/main/content/zh/docs/hertz/tutorials/basic-feature/network-lib.md
en folder：https://github.com/cloudwego/cloudwego.github.io/tree/main/content/en/docs/hertz/tutorials/basic-feature

Notes:
1. Do not change the original layout, code style or content se

[2022-06-08 08:14] li-jin-gou commented on #49
I'd like to translate it  :smirk: @GuangmingLuo

[2022-06-08 09:52] gdis5251 opened #50 "希望可以支持服务过载检测和限流相关算法"
**Is your feature request related to a problem? Please describe.**

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**

A clear and concise description of what you want to happen.

**Describe alternatives you've considered**

A clear and concise description of any alternative solutions or features you've considered.

*

[2022-06-09 09:28] lgbgbl opened #51 "basic auth middleware example in cloudwego.io is not working"
**Describe the bug**

basic-auth middleware [example](https://www.cloudwego.io/zh/docs/hertz/tutorials/basic-feature/middleware/basic-auth/) in cloudwego.io is not working.

When I tried to build for it, an error occured.
[code]

Then I found that required module should be `github.com/cloudwego/hertz/pkg/app/middlewares/server/basic_auth` instead of `github.com/cloudwego/hertz/pkg/app/middlewares/

[2022-06-09 09:39] Duslia commented on #51
Ok, I will fix it. You can refer to hertz-examples: https://github.com/cloudwego/hertz-examples/blob/main/middleware/basicauth/main.go

[2022-06-09 09:55] #51 closed

[2022-06-12 19:17] hiqsociety opened #53 "i've checked the examples but couldnt find a way to get client ip"
how to get client's ip using hertz?

[2022-06-13 01:28] Duslia commented on #53
There is a method called ``ClientIP`` in RequestContext and provide a default implementation. Also you can inject your specific implementation by using ``app.SetClientIPFunc``

[2022-06-14 03:56] welkeyever opened #55 "HTTP1: add remote ip when reading error happened"
**Is your feature request related to a problem? Please describe.**

If get a none http1 request, hertz will print an error message but without an ip address of the client. It is difficult to trace the problem to the client.

**Describe the solution you'd like**

Add more info including the remote ip of the client may help.

[2022-06-16 08:12] #55 closed

[2022-06-16 12:49] welkeyever opened #61 "Add a startup log to display the name of the loaded network library"
**Is your feature request related to a problem? Please describe.**

no

**Describe the solution you'd like**

`route.GetTransporterName()` returns the name of network library, printing an INFO log with it will work.

**Describe alternatives you've considered**

By the way, add a unit test for `route.GetTransporterName()` to ensure the correctness.

[2022-06-16 13:27] zhoulilily commented on #61
I want to try it @welkeyever

[2022-06-17 03:15] bilinxing commented on #43
+1 期待字节放出内部的websocket实现

[2022-06-17 05:31] LhdDream opened #62 "Expect to provide configuration center management"
**Is your feature request related to a problem? Please describe.**

In the case of too many service instances, we need a unified configuration center to manage the configuration

**Describe the solution you'd like**

Provides access to configuration centers like Nacos, apollo, etc.

[2022-06-17 07:47] GuangmingLuo commented on #48
well done ！

[2022-06-17 07:47] #48 closed

[2022-06-17 10:41] welkeyever opened #63 ":sparkles: Client: Optimize default retry strategy"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

* make sure all the retry cases in client is reasonable
* decide whether to enable the retry policy by default(add an option to control?)

**Describe alternatives you've considered**

compatibility needs to be considered (the influence to the existing user)

**Additional context**

https://dat

[2022-06-17 12:20] Duslia opened #65 "Add sessions middleware for Hertz"

[2022-06-18 01:06] Duslia commented on #62
This issue will focus on configuration center management. And adaptive current-limiting fusing algorithms  will be discussion on #50

[2022-06-18 14:37] LhdDream commented on #50
可以提供自适应限流算法，可以对于CPU的负载情况，接口耗时及当前的QPS来进行实现。

[2022-06-20 02:26] holdonbush commented on #49
Hi, I want to try this, thank you

[2022-06-20 03:35] Duslia opened #67 "[docs]: Update the translation of hertz Getting Started"
zh web page：https://www.cloudwego.io/zh/docs/hertz/getting-started/
zh doc：https://github.com/cloudwego/cloudwego.github.io/blob/main/content/zh/docs/hertz/getting-started/_index.md
en folder：https://github.com/cloudwego/cloudwego.github.io/blob/main/content/en/docs/hertz/getting-started/_index.md

Notes:

- Do not change the original layout, code style or content sequence.
- Software Translator i

[2022-06-20 05:23] Duslia opened #68 "[docs]: translate hertz/tutorials/basic-feature/bindAndValidate"
zh web page：https://www.cloudwego.io/zh/docs/hertz/tutorials/basic-feature/binding-and-validate/
zh doc：https://github.com/cloudwego/cloudwego.github.io/blob/main/content/zh/docs/hertz/tutorials/basic-feature/binding-and-validate.md
en folder：https://github.com/cloudwego/cloudwego.github.io/tree/main/content/en/docs/hertz/tutorials

Notes:

- Do not change the original layout, code style or conten

[2022-06-20 05:25] Duslia opened #69 "[docs]: translate hertz/tutorials/basic-feature/stream"
zh web page：https://www.cloudwego.io/zh/docs/hertz/tutorials/basic-feature/stream/
zh doc：https://github.com/cloudwego/cloudwego.github.io/blob/main/content/zh/docs/hertz/tutorials/basic-feature/stream.md
en folder：https://github.com/cloudwego/cloudwego.github.io/tree/main/content/en/docs/hertz/tutorials

Notes:

- Do not change the original layout, code style or content sequence.
- Software Trans

[2022-06-20 08:11] Duslia opened #71 "[docs]: translate hertz/tutorials/basic-feature/protocol, log, err handle"
protocol:
zh web page：https://www.cloudwego.io/zh/docs/hertz/tutorials/basic-feature/protocol/
zh doc：https://github.com/cloudwego/cloudwego.github.io/blob/main/content/zh/docs/hertz/tutorials/basic-feature/protocol.md
en folder：https://github.com/cloudwego/cloudwego.github.io/tree/main/content/en/docs/hertz/tutorials

log:
zh web page：https://www.cloudwego.io/zh/docs/hertz/tutorials/basic-feature

[2022-06-20 08:18] Duslia opened #72 "[docs]: translate hertz/tutorials/basic-feature/graceful-shutdown, forward-proxy, unit-test"
graceful-shutdown:
zh web page：https://www.cloudwego.io/zh/docs/hertz/tutorials/basic-feature/graceful-shutdown/
zh doc：https://github.com/cloudwego/cloudwego.github.io/blob/main/content/zh/docs/hertz/tutorials/basic-feature/graceful-shutdown.md
en folder：https://github.com/cloudwego/cloudwego.github.io/tree/main/content/en/docs/hertz/tutorials

forward-proxy:
zh web page：https://www.cloudwego.io/

[2022-06-20 10:02] #30 closed

[2022-06-20 12:10] #21 closed

[2022-06-20 12:10] #22 closed

[2022-06-20 12:11] GuangmingLuo opened #73 "Are you using Hertz ?"
## The purpose of this issue
We are always interested in finding out who is using Hertz, what attracted you to using it, how we can listen to your needs and if you are interested, help promote your organization.

- We have people reaching out to us asking, who uses Hertz in production?
- We’d like to listen to what you would like to see in Hertz and your scenarios?
- We'd like to help promote your

[2022-06-20 14:29] Jacob953 commented on #71
Hi, @Duslia! Plz assign this to me.

[2022-06-21 02:47] Duslia commented on #50
Related PR https://github.com/hertz-contrib/limiter/pull/1

[2022-06-21 03:35] liweitingwt commented on #67
Hello， I want to try this, thank you.

[2022-06-21 04:33] Skyenought commented on #69
I want to try this.

[2022-06-21 04:50] holdonbush commented on #49
@GuangmingLuo @li-jin-gou hello, I have submitted a pull request at [repo](https://github.com/cloudwego/cloudwego.github.io/pull/208), hope you can review the translation, thanks

[2022-06-21 05:06] Duslia commented on #69
Well done!

[2022-06-21 07:42] Duslia commented on #23
Now you can use ab to benchmark Hertz with short connection.

[2022-06-21 07:42] #23 closed

[2022-06-21 08:24] Skyenought commented on #68
I can translate it.

[2022-06-21 08:41] gova-i267 commented on #65
Hi~I want to try this!

[2022-06-21 08:45] stephenzhang0713 commented on #72
Hi, I can help with these translations

[2022-06-21 08:51] Duslia opened #77 "[docs]: translate hertz tutorials/toolkit/toolkit/"
toolkit:
zh web page：https://www.cloudwego.io/zh/docs/hertz/tutorials/toolkit/toolkit/
zh doc：https://github.com/cloudwego/cloudwego.github.io/blob/main/content/zh/docs/hertz/tutorials/toolkit/toolkit.md
en folder：https://github.com/cloudwego/cloudwego.github.io/tree/main/content/en/docs/hertz/tutorials

Notes:

Do not change the original layout, code style or content sequence.
Software Translator

[2022-06-21 08:52] Duslia opened #78 "[docs]: translate hertz/tutorials/toolkit/template/"
template:
zh web page：https://www.cloudwego.io/zh/docs/hertz/tutorials/toolkit/template/
zh doc：https://github.com/cloudwego/cloudwego.github.io/blob/main/content/zh/docs/hertz/tutorials/toolkit/template.md
en folder：https://github.com/cloudwego/cloudwego.github.io/tree/main/content/en/docs/hertz/tutorials

Notes:

Do not change the original layout, code style or content sequence.
Software Transla

[2022-06-21 08:55] Duslia opened #79 "[docs]: translate hertz tutorials/tutorials/service-governance/monitoring/"
monitoring:
zh web page：https://www.cloudwego.io/zh/docs/hertz/tutorials/service-governance/monitoring/
zh doc：https://github.com/cloudwego/cloudwego.github.io/blob/main/content/zh/docs/hertz/tutorials/service-governance/monitoring.md
en folder：https://github.com/cloudwego/cloudwego.github.io/tree/main/content/en/docs/hertz/tutorials

Notes:

Do not change the original layout, code style or conten

[2022-06-21 08:56] Duslia opened #80 "[docs]: translate hertz/tutorials/tutorials/service-governance/tracing/"
tracing:
zh web page：https://www.cloudwego.io/zh/docs/hertz/tutorials/service-governance/tracing/
zh doc：https://github.com/cloudwego/cloudwego.github.io/blob/main/content/zh/docs/hertz/tutorials/service-governance/tracing.md
en folder：https://github.com/cloudwego/cloudwego.github.io/tree/main/content/en/docs/hertz/tutorials

Notes:

Do not change the original layout, code style or content sequenc

[2022-06-21 08:58] Hao-Wu commented on #79
@Duslia Please assign to me

[2022-06-21 09:00] Duslia opened #81 "[docs]: translate hertz/tutorials/tutorials/framework-exten/monitor & log"
monitor:
zh web page：https://www.cloudwego.io/zh/docs/hertz/tutorials/framework-exten/monitor/
zh doc：https://github.com/cloudwego/cloudwego.github.io/blob/main/content/zh/docs/hertz/tutorials/framework-exten/monitor.md
en folder：https://github.com/cloudwego/cloudwego.github.io/tree/main/content/en/docs/hertz/tutorials

log:
zh web page：https://www.cloudwego.io/zh/docs/hertz/tutorials/framework-ex

[2022-06-21 09:03] Duslia opened #82 "[docs]: translate hertz/tutorials/framework-exten/advanced-exten/network-lib/"
network-lib:
zh web page：https://www.cloudwego.io/zh/docs/hertz/tutorials/framework-exten/advanced-exten/network-lib/
zh doc：https://github.com/cloudwego/cloudwego.github.io/blob/main/content/zh/docs/hertz/tutorials/framework-exten/advanced-exten/network-lib.md
en folder：https://github.com/cloudwego/cloudwego.github.io/tree/main/content/en/docs/hertz/tutorials

Notes:

Do not change the original l

[2022-06-21 09:03] Duslia commented on #80
Well done!

[2022-06-21 09:04] Duslia commented on #79
Well done!

[2022-06-21 09:04] CSWYF3634076 commented on #63
I want to try this.

[2022-06-21 09:05] Duslia opened #83 "[docs]: translate hertz/tutorials/framework-exten/advanced-exten/protocol/"
protocol:
zh web page：https://www.cloudwego.io/zh/docs/hertz/tutorials/framework-exten/advanced-exten/protocol/
zh doc：https://github.com/cloudwego/cloudwego.github.io/blob/main/content/zh/docs/hertz/tutorials/framework-exten/advanced-exten/protocol.md
en folder：https://github.com/cloudwego/cloudwego.github.io/tree/main/content/en/docs/hertz/tutorials

Notes:

Do not change the original layout, co

[2022-06-21 09:06] zhoulilily commented on #82
I want to try it. thank you @Duslia

[2022-06-21 09:06] Duslia commented on #82
Well done!

[2022-06-21 09:07] Duslia opened #84 ":memo: [docs]: translate hertz/faq/"
faq:
zh web page：https://www.cloudwego.io/zh/docs/hertz/faq/
zh doc：https://github.com/cloudwego/cloudwego.github.io/blob/main/content/zh/docs/hertz/faq/_index.md
en folder：https://github.com/cloudwego/cloudwego.github.io/tree/main/content/en/docs/hertz/faq

Notes:

Do not change the original layout, code style or content sequence.
Software Translator is a tool, not god, do not use the result as t

[2022-06-21 09:09] Duslia opened #85 "[docs]: translate hertz/reference/config/"
config:
zh web page：https://www.cloudwego.io/zh/docs/hertz/reference/config/
zh doc：https://github.com/cloudwego/cloudwego.github.io/blob/main/content/zh/docs/hertz/reference/config.md
en folder：https://github.com/cloudwego/cloudwego.github.io/tree/main/content/en/docs/hertz/reference

Notes:

Do not change the original layout, code style or content sequence.
Software Translator is a tool, not god

[2022-06-21 09:11] Duslia opened #86 "[docs]: translate hertz/reference/version & json"
version:
zh web page：https://www.cloudwego.io/zh/docs/hertz/reference/version/
zh doc：https://github.com/cloudwego/cloudwego.github.io/blob/main/content/zh/docs/hertz/reference/version.md
en folder：https://github.com/cloudwego/cloudwego.github.io/tree/main/content/en/docs/hertz/reference

json:
zh web page：https://www.cloudwego.io/zh/docs/hertz/reference/json/
zh doc：https://github.com/cloudwego/c

[2022-06-21 09:33] Jeremy-Run opened #87 "Can you provide dependency injection components?"
As the title

[2022-06-21 09:44] liweitingwt commented on #85
hello, I want to try this issue, thank you.

[2022-06-21 09:50] Duslia commented on #85
Well done!

[2022-06-21 09:51] Duslia commented on #86
Well done!

[2022-06-21 09:52] Duslia commented on #63
Well done!

[2022-06-21 10:02] CSWYF3634076 commented on #63
Thank you for your trust. I will sort out the plan as soon as possible

[2022-06-21 10:24] daydaygo commented on #84
https://github.com/cloudwego/cloudwego.github.io/pull/214

[2022-06-21 10:52] Hao-Wu commented on #81
@Duslia Please assign this to me

[2022-06-21 11:36] Duslia commented on #81
Well done!

[2022-06-21 15:10] towelong opened #88 "IDL don't generate vd tag"
![image](https://user-images.githubusercontent.com/41502558/174834255-b1cb9a60-a4e5-4788-9756-9b1d46e00794.png)
![image](https://user-images.githubusercontent.com/41502558/174834362-f34c0e19-6fd7-4526-873c-6ed587437f77.png)

[2022-06-22 00:49] Duslia commented on #88
You need to define vd tag on HelloReq struct, not HelloService. Please refer to https://www.cloudwego.io/zh/docs/hertz/tutorials/toolkit/toolkit/#%E4%BD%BF%E7%94%A8%E6%96%B9%E6%B3%95.
<img width="690" alt="image" src="https://user-images.githubusercontent.com/37136584/174920045-5a83aaff-5414-404e-944a-ebcec0291914.png">

[2022-06-22 01:48] GreenAppleOne opened #89 "about Tracer add more simple demo or example"
Link tracing is a fundamental piece of information needed in every environment in the project, can it be started by default at the log or database level? In addition, can you give an example that is more friendly to newbies and can be used out of the box, although there is an example in the hertz example, it does not meet the basic needs.

[2022-06-22 01:57] Duslia commented on #89
Yes. Batteries included is our long-term goal. In  the future, we will provide more example and more out-of-box ability to help user to construct Hertz project. If you'd like to cooperate with us or have some idea, you can join our user group. We can discuss deeply.

[2022-06-22 02:34] towelong commented on #88
thinks, I had been resolved this issue.

[2022-06-22 02:34] #88 closed

[2022-06-22 06:56] Jeremy-Run commented on #87
e.g. Java Spring DI

[2022-06-22 07:24] MichaelDeSteven commented on #77
plz assign it to me, thx

[2022-06-22 11:46] FGYFFFF commented on #77
well done!

[2022-06-22 13:13] Duslia commented on #87
You can refer to https://www.cloudwego.io/zh/docs/hertz/tutorials/framework-exten/

[2022-06-22 13:19] byene0923 opened #93 "Proposal(feat): support multipart/byteranges"
**Is your feature request related to a problem? Please describe.**
I see hertz only support [Single part ranges](https://developer.mozilla.org/en-US/docs/Web/HTTP/Range_requests#single_part_ranges), i think it's better to support [Multipart ranges](https://developer.mozilla.org/en-US/docs/Web/HTTP/Range_requests#multipart_ranges)

**Describe the solution you'd like**

**Describe alternatives you'v

[2022-06-23 03:16] welkeyever opened #95 "Proposal: Add reload mechanism to html render"
**Describe the solution you'd like**

Add or replace the way of rendering HTML in order to let the server reload HTML templates without restarting.

**Describe alternatives you've considered**

A timer or a file system watcher may help to decide whether to reload or not.

**Additional context**

Be aware of performance overhead. DO NOT reload it every time when render api is called.

[2022-06-23 08:15] gopower opened #98 "Proposal: default log replaced with zap"
**Is your feature request related to a problem? Please describe.**
The default log is simple, but very rudimentary

[2022-06-23 08:22] li-jin-gou commented on #98
the default logger uses the log.Logger from the standard library, you can use hlog.SetLogger to replace the default logger. @gopower

[2022-06-23 23:20] huibunny opened #101 "no api gateway provided?"
Api gateway is the most important part if you use microservices. No one can be found good in golang world.

[2022-06-24 03:22] welkeyever commented on #101
Yes, good point. However, API Gateway is beyond the scope of hertz. Bytedance indeed has some API Gateways built atop hertz.

We'll explore a good way to expand on this topic

[2022-06-24 07:41] Duslia commented on #63
Hertz client has default retry logic with low threshold. And user doesn't know this normally. So I turn off the default retry logic and user needs to open it manually.

[2022-06-24 11:02] stephenzhang0713 commented on #95
I would like to help with this issue

[2022-06-24 20:42] #69 closed

[2022-06-25 06:27] Hao-Wu commented on #81
They're all merged.
This issue can be closed.

[2022-06-25 11:12] #81 closed

[2022-06-27 02:02] Duslia commented on #68
This PR has been merged. Thx!

[2022-06-27 02:02] #68 closed

[2022-06-27 05:56] #79 closed

[2022-06-27 11:57] CSWYF3634076 commented on #63
What does retry "cases” mean? In other words, which part of the code should I focus on. I read "pkg/protocol/http1/client go::Do()" .  I don't know if the direction is right

[2022-06-27 12:38] welkeyever commented on #63
Yes, and and all scenarios where doNonNilReqResp(https://github.com/cloudwego/hertz/blob/develop/pkg/protocol/http1/client.go#L522) returns true/false.

However, the default logic is changed by #102 ,  so here we only need to care about the retry scenarios.

1.  Sort out all possible retry scenarios.
2.  Comb through the configurable options currently available to users.
3. Determine whether the r

[2022-06-27 14:04] czyt opened #107 "run `hz` to generate api in windows ,fails with relativePath"
**Describe the bug**

in windows 11,when run `hz update -I idl -idl idl/hello/hello.proto` failed :

**To Reproduce**

Steps to reproduce the behavior:
1. follow the guide in  `https://www.cloudwego.io/zh/docs/hertz/tutorials/toolkit/toolkit/`
2. run command `hz update -I idl -idl idl/hello/hello.proto`
3. error occured.
4. err log
[code]

idl gnerated

**Screenshots**

If applicable, add screensh

[2022-06-27 14:32] czyt commented on #107
besides,the `hz` tool require admin privilege
`F:\go\xxx>hz update -I idl -idl idl/hello/hello.proto
build plugin command failed: symlink "C:\\Users\\czyt\\go\\bin\\protoc-gen-hertz.exe": symlink C:\Users\czyt\go\bin\hz.exe C:\Users\czyt\go\bin\protoc-gen-hertz.exe: A required privilege is not held by the client.`
which I think is not a friendly behavior.

[2022-06-28 02:33] FGYFFFF commented on #107
I have adapted the windows environment, you can see the PR: https://github.com/cloudwego/hertz/pull/92

[2022-06-28 06:05] #83 closed

[2022-06-28 06:06] #82 closed

[2022-06-28 06:07] #98 closed

[2022-06-28 06:08] #87 closed

[2022-06-28 06:09] #80 closed

[2022-06-28 06:10] #49 closed

[2022-06-28 11:48] Duslia commented on #86
This PR has been merged. However, the hierarchy of the document is incorrect.

[2022-06-28 11:48] #86 closed

[2022-06-28 16:44] stephenzhang0713 commented on #72
#71

[2022-06-28 18:08] stephenzhang0713 commented on #86
Hi, I have fixed the layout of document in my PR: https://github.com/cloudwego/cloudwego.github.io/pull/240 , plz review this PR

[2022-06-29 02:55] #85 closed

[2022-06-29 02:57] #67 closed

[2022-06-29 03:10] #72 closed

[2022-06-29 03:17] Duslia commented on #84
Hi~ There are some comments on this PR https://github.com/cloudwego/cloudwego.github.io/pull/214. Could you pls fix it?

[2022-06-29 03:25] stephenzhang0713 commented on #78
I can help with this translations

[2022-06-30 02:14] stephenzhang0713 commented on #78
Hi, I would like to help with translations

[2022-06-30 02:31] stephenzhang0713 commented on #95
### Some of my thoughts on this issue

- By analyzing the source code of hertz, I found that the method of loading HTML is located in `pkg/route/engine.go`, and there are two main functions in `engine.go` which are responsible for executing loading HTML, namely `LoadHTMLGlob` and `LoadHTMLFiles`
- As mentioned in the description of the issue above, consider using a timer or watcher to listen to th

[2022-06-30 03:49] ylck commented on #78
let me try

[2022-06-30 05:04] Duslia commented on #78
well done!

[2022-06-30 09:47] welkeyever commented on #95
Yes, `LoadHTMLGlob` and `LoadHTMLFiles` will set the `HTMLRender` immediately, so here a new auto-reloading Render may help do the reload job(check the files during .Instance()).

stage 1 of the impl: users can choose the auto-reloading Render for their project.
stage2 : switching automatically between normal Render and auto-reloading Render according to some conditions(maybe config/env/etc.)

[2022-06-30 11:44] FGYFFFF commented on #107
windows environment has been adapted, if you need to install:
`go install github.com/cloudwego/hertz/cmd/hz@509b011bbf496f6f266bdb09350542d6f0164ac2`

[2022-07-01 03:36] yangqingxin1993 opened #109 "README中链接失效"
README文件中，example示例地址失效：https://www.cloudwego.io/zh/docs/hertz/tutorials/example/

[2022-07-01 03:41] Duslia commented on #109
It seems it can work normally?

[2022-07-01 03:45] yangqingxin1993 commented on #109
抱歉，我的IDE的问题

[2022-07-01 03:45] #109 closed

[2022-07-01 14:37] czyt commented on #107
@FGYFFFF thank，I will have a try.

[2022-07-01 14:37] #107 closed

[2022-07-04 09:02] hiqsociety opened #113 "how do i use unix domain socket?"
how do i use unix domain socket? is this possible? any examples? thx

[2022-07-04 09:18] Duslia commented on #113
You can customize Dial function by WithDialFunc

[2022-07-04 09:20] welkeyever commented on #113
https://www.cloudwego.io/zh/docs/hertz/reference/config/
* set `WithHostPorts ` to your uds path
* set `WithNetwork ` to "unix"

[2022-07-04 10:41] hiqsociety commented on #113
really need example. sorry i am quite dense...

[2022-07-04 11:41] powerxu519 commented on #113
**server**

[2022-07-04 19:52] hiqsociety commented on #113
ok thx got it.
i was trying to customize Dial function by WithDialFunc and also using the withhostport etc. i get it. thx.

[2022-07-04 19:52] #113 closed

[2022-07-04 19:53] hiqsociety commented on #95
possible to get ideas from here? it's the fastest templating engine but doesnt do live reload
https://github.com/Joker/jade

[2022-07-05 15:57] powerxu519 opened #117 "OnShutdown: There is no guarantee of order or execution"
**Describe the bug**

 Engine.OnShutdown is no guarantee of order or execution
 **Is this its own design idea? If not, I think it is a bug**

**To Reproduce**

Steps to reproduce the behavior:
1.  go run hertz-examples/graceful_shutdown/main.go

**Expected behavior**

Because of asynchronous execution, there is no guarantee of order or success

**Screenshots**

If applicable, add screenshots to he

[2022-07-06 00:06] hiqsociety opened #118 "how do i set the content type?"
not sure how to set content-type.

all examples provide text/plain

how to set response header easily?

i know ctx.HTML() sets content type html but how do i override c.String() coz i want output as text/html

[2022-07-06 02:52] hiqsociety opened #119 "Working with existing templating engine like hero / jade"
a lot of them use this format, possible to give an example how to pass w http.ResponseWriter in hertz so we can just reuse existing templating engines?

    http.HandleFunc("/users", func(w http.ResponseWriter, req *http.Request) {
        var userList = []string {
            "Alice",
            "Bob",
            "Tom",
        }

        // Had better use buffer pool. Hero exports `GetBuffer`

[2022-07-06 05:38] hiqsociety commented on #24
sry for asking but without reverse proxy actually is very incomplete. when will reverse proxy be done? this is very crucial as a golang http framework.

i saw forward proxy is complete already so just wondering if it's simple to convert?

[2022-07-06 06:41] welkeyever commented on #118
check here: https://github.com/cloudwego/hertz/blob/9ced80f0fdfca80d478af48635921ff52fb30bd2/pkg/app/server/render/render.go#L62

[2022-07-06 06:49] welkeyever commented on #117
Yes, It is by design.
Because synchronization here means waiting, however, normally there hasn't much time for the closing hook. Synchronization may result in subsequent hooks not even having a chance to execute.

If there is a strong order of exit behavior, you may assemble it and register it as one hook.

[2022-07-06 06:53] welkeyever commented on #119
The implementation of hertz is not the same as the standard library.

If you are looking for a compatible way, check here:
https://github.com/cloudwego/hertz/blob/develop/pkg/common/adaptor/request.go

[2022-07-06 09:25] Duslia commented on #24
We would probably prefer the community developers to support this feature. I wonder if you'd be interested in supporting it. If you are interest in it, you can contact me in CloudWeGo Lark or WeChat group easily.

[2022-07-06 11:42] powerxu519 commented on #117
However, there is no guarantee of success, and if you use hooks to shut down some services, you may leak

[2022-07-06 12:39] welkeyever opened #121 "Proposal：remove hijackConnPool when create hijack connection"
**Is your feature request related to a problem? Please describe.**

In the current implementation, the hijack connection has and can only be closed once, otherwise the second close will directly cause the null pointer panic problem.

Related impl: https://github.com/cloudwego/hertz/blob/develop/pkg/route/engine.go#L331

Which is counter-intuitive and easily overlooked by users in real-world use. C

[2022-07-06 15:56] byene0923 commented on #93
After reading how hertz handle `single part` , i found it's quite different  from go http。
**the core difference is go http read the bytes once but hertz read the bytes may in serval times**
i think how hertz support `multipart/byteranges` needs talking， i‘m writing a doc now。

[2022-07-07 02:47] welkeyever commented on #117
Yes, but in a real environment it is difficult to guarantee, as deployment platform normally has a DDL for a closing process(like k8s, platform in Bytedance also). Process may be directly killed when time's up.

Very little can be done by just having synchronization in hooks to reduce the chance of leak.

[2022-07-07 03:33] powerxu519 commented on #117
I see. Thank you very much

[2022-07-07 03:33] #117 closed

[2022-07-07 04:06] hiqsociety commented on #118
in the end i used c.Data() <- is this advisable? just to set text/html

[2022-07-07 06:29] Duslia commented on #63
Hi~ I am wondering how it's going? Do you encounter any difficulties? You may join our Feishu Chat Group to discuss more details about this task.

[2022-07-07 06:29] Duslia commented on #65
Hi~ I am wondering how it's going? Do you encounter any difficulties? You may join our Feishu Chat Group to discuss more details about this task.

[2022-07-07 06:29] Duslia commented on #95
Hi~ I am wondering how it's going? Do you encounter any difficulties? You may join our Feishu Chat Group to discuss more details about this task.

[2022-07-07 06:38] Duslia commented on #24
This issue has been assigned to powerxu519

[2022-07-07 07:17] powerxu519 commented on #24
I hope to give it a try

[2022-07-07 10:04] hiqsociety opened #122 "how to get the hostname / domain name of the request header?"
how to get the hostname / domain name of the request header?

[2022-07-07 12:04] FGYFFFF commented on #122
Do you mean "c.Request.Header.Host()"?

[2022-07-07 13:46] wiki0 opened #123 "我是m1的macbook提示CPU过旧不支持"
if cpu.HasAVX2 {
        useAVX2()
    } else if cpu.HasAVX {
        useAVX()
    } else {
        panic("Unsupported CPU, maybe it's too old to run Sonic.")
    }
不支持arm64是吗？

[2022-07-07 14:01] #50 closed

[2022-07-08 03:44] welkeyever commented on #118
yes, the principle is the same, the core is the one mentioned above.

[2022-07-08 09:15] #118 closed

[2022-07-08 09:47] Duslia commented on #89
We support obs-opentelementry these days.
repo: https://github.com/hertz-contrib/obs-opentelemetry
example: https://github.com/cloudwego/hertz-examples/tree/main/opentelemetry
If you have any other questions, please join Lark group or report a github issue

[2022-07-08 09:47] #89 closed

[2022-07-08 09:48] #101 closed

[2022-07-08 09:48] Duslia commented on #101
If you have any other questions or requirements, you can join Lark group and give us a feedback

[2022-07-13 07:29] #78 closed

[2022-07-13 07:31] GuangmingLuo commented on #77
hi, what the progress of this task ? @MichaelDeSteven

[2022-07-13 07:35] MichaelDeSteven commented on #77
Deeply sorry. I am busy. plz assign someone.

[2022-07-14 06:45] GuangmingLuo commented on #77
That's OK, welcome back when you are free.

[2022-07-14 06:58] rogerogers commented on #77
Lets me have a try, assign it to me, thx

[2022-07-14 14:09] Skyenought opened #135 "Proposal：add a flag to support custom suffixes for IDL"
**Why did this proposal come up？**

For reference, kitex supports custom suffix names, and Hertz makes it mandatory to determine IDL type by suffix.

I propose to unify the code style for the same cloudwego subproject.

**Describe alternatives you've considered**

From a user experience point of view, the type is determined by the suffix by default, but the option to customize the suffix is left t

[2022-07-15 03:43] #71 closed

[2022-07-17 14:33] xiaobaiyouxi commented on #43
+1

[2022-07-18 05:16] li-jin-gou opened #138 "feat: add hertz sentinel adapter"
**Is your feature request related to a problem? Please describe.**

- add hertz sentinel adapter so hertz can use sentinel to achieve circuit breaker and limiter,and so on.

**Describe the solution you'd like**
- doesn't need a lot of extensions
- use `hertz middleware` and `sentinel-go` to achieve client and server 's adapter
- the pseudo-code as follows
[code]
**Describe alternatives you've cons

[2022-07-18 05:19] Skyenought commented on #138
i want to try

[2022-07-18 05:20] Skyenought commented on #138
I want to try this

[2022-07-19 08:26] hiqsociety opened #139 "how to route by domain name?"
e.g.

en.example.com use one set of routes

zh.example.com use one set of routes

[2022-07-19 09:24] li-jin-gou commented on #139
not supported subdomain route , maybe you can do this
[code]

[2022-07-19 14:19] hiqsociety commented on #139
need subdomain not diff port.

[2022-07-19 23:05] stayhungry001 opened #140 "Hertz panic on my mac with apple 64-bit processor"
**Describe the bug**
I try to run a sample example on my mac with m1 CPU. The following panic shows up. The go runs ok with other project.

panic: Unsupported CPU, maybe it's too old to run Sonic.

goroutine 1 [running]:
github.com/bytedance/sonic/internal/native.init.0()
        /Users/hellworld/go/pkg/mod/github.com/bytedance/sonic@v1.3.0/internal/native/dispatch_amd64.go:144 +0x1fb
exit status

[2022-07-20 02:15] li-jin-gou commented on #140
https://www.cloudwego.io/zh/docs/hertz/reference/json/#mac-m1-%E4%B8%8A%E7%BC%96%E8%AF%91%E6%8A%A5%E9%94%99 @stayhungry001

[2022-07-20 06:21] supercxx opened #141 "http 服务端不支持web session操作吗?"

[2022-07-20 11:59] li-jin-gou commented on #141
对于 Session 的扩展能力详见 https://github.com/cloudwego/hertz/issues/65 @supercxx

[2022-07-21 01:37] FlameMida commented on #140
you should install go darwin/arm64 version not darwin/amd64 version @stayhungry001

[2022-07-21 07:56] GuangmingLuo commented on #84
The assignee of this issue has been reset.

[2022-07-21 08:00] Haswf commented on #84
I would like to work on this.

[2022-07-22 02:42] Duslia commented on #139
You need to deploy DNS or add a proxy. This feature cannot be solved by Hertz.

[2022-07-22 02:43] #140 closed

[2022-07-22 02:46] Duslia commented on #141
We will support it soon and please pay attention to #65 . Hertz also provide adapter to net/http in https://github.com/cloudwego/hertz/blob/develop/pkg/common/adaptor/request.go. You can adapt session middleware easily. This issue will be closed.

[2022-07-22 02:46] #141 closed

[2022-07-22 02:47] Duslia commented on #65
The assignee of this issue has been reset.

[2022-07-22 03:02] #121 closed

[2022-07-22 08:11] #77 closed

[2022-07-22 08:25] stephenzhang0713 commented on #95
Sorry I just saw your message, I have been in hospital for a month, I'm sorry to reply to you too late

[2022-07-22 10:05] baiyutang commented on #43
please assignee to me. I will try to it.

[2022-07-22 15:41] qiuyuyin commented on #139
You can use the caddy server to route your name, it is easier and just need some lines of config
in your config yaml, just like this you can do the router.
[code]

[2022-07-23 10:30] imnewbe opened #151 "ipsock 里面一定要求端口吗？"
我跟踪了一下代码，在ipsock里面发现有这么一段
[code]

现在的问题是 在例子的send_request/main.go中写了请求一个域名格式的网址。一般有这种用途的其实并不会在域名后面增加一个端口。

[code]

所以这里验证端口的目的是？

[2022-07-23 10:38] imnewbe commented on #151
ipsocks是系统的。。T_T

[2022-07-23 11:05] li-jin-gou commented on #151
@imnewbe  这似乎是 `GO` 源码里面的逻辑

[2022-07-23 11:06] #151 closed

[2022-07-24 05:48] Aionw opened #152 "optimize: optimize route tree"
In route tree, hertz use radix tree for route find. I'm wondering can we use hashmap for static node instead. For route find sernario, we do not need to compare child node's prefix one by one, just search hash map is Ok.
Related data structure before is:
[code]
After change is:
[code]

[2022-07-24 06:06] #152 closed

[2022-07-24 09:40] #139 closed

[2022-07-24 13:36] Skyenought commented on #61
i want to try this.

[2022-07-26 10:43] li-jin-gou commented on #151
@imnewbe  感谢，这个问题已经修复了 https://github.com/cloudwego/hertz/pull/154

[2022-07-27 08:22] brotherlu-xcq commented on #65
I want to continue the left work. could you assign it to me ?

[2022-07-27 09:30] Duslia commented on #65
@brotherlu-xcq well done!

[2022-07-28 05:58] #35 closed

[2022-07-28 12:09] LhdDream commented on #73
Organization/Company: Xiaomi
Website: https://www.xiaomi.com/
Country: China
Contact: lvhaidong@xiaomi.com
Usage scenario: Using Hertz to build CDN multi-cloud management platform and label service (internal)
Status: Production

[2022-07-28 13:19] Haswf opened #156 "Proposal: add request id generator middleware"
**Is your feature request related to a problem? Please describe.**

Generating unique identifer(e.g. `X-Request-ID`) for each request is a common way to correlate various log entries in micro-service design. It would be challenging to diagnose problem without a common piece of information, especially when multiple services are involved in processing the request.

Most of web frameworks support thi

[2022-07-30 09:17] zjclyz opened #157 "Does the routing function not support fuzzy matching?"
**Describe the bug**

I was hoping to match all paths with "/*", and the startup reported an error directly.

**To Reproduce**

[code]

**Expected behavior**

The above code reported an error directly on startup with the following error message.
[code]

I want to match all requests with something like "/*", I don't care about the specific request path, is this not supported?

**Hertz version:**

h

[2022-07-30 10:54] li-jin-gou commented on #157
参考一下这个demo https://github.com/cloudwego/hertz-examples/tree/main/route @zjclyz

[2022-07-30 11:17] zjclyz commented on #157
看了的，没有我预期的，我希望把所有请求匹配到一个handler中去处理，应该如何设置呢？

[2022-07-30 11:20] zjclyz commented on #157
看了的，没有我预期的，我希望把所有请求匹配到一个handler中去处理，应该如何设置呢？

[2022-07-30 11:26] li-jin-gou commented on #157
示例demo
[code]
路由是有优先级的
[code]
要想实现你这个功能你要规避这一点，按照例子改改就行了，不复杂。
另外都放在一个 handler里面就觉得怪怪的....

[2022-07-30 11:26] #157 closed

[2022-07-30 11:57] zjclyz commented on #157
比如做一个网关的场景，是希望匹配所有请求统一处理的，并不像一个业务系统一样，某类path就应该到对应的handler去处理。

其实我也好奇，hertz为啥把路由功能的代码也整合进来呢？是否考虑用第三库的形式提供路由功能？这样解耦后，如果觉得官方的不满足要求可以有新的实现？

[2022-07-30 14:37] zjclyz commented on #157
@li-jin-gou 这个提问给怎么关闭了？🤣

[2022-07-30 15:04] hiqsociety opened #158 "how do i get multiple select values from a form?"
my form has \<select name="g" multiple>\<option name="70010000"\>70010000\</option\> ... etc.

i got only the first value using the below form using

[code]

but how do i get all the values below?

[code]

[code]

[2022-07-31 02:38] rogerogers commented on #158
Seems not support yet, you can use json instead.

[2022-07-31 05:36] hiqsociety commented on #158
the values are inside BUT not gettable. means

fmt.Printf("%s",g) only gets the first value 70010000 from

    g:[70010000 70010700 70010300]

    surely there's a way to get all the values?

       g := c.PostForm("g")

[2022-07-31 05:37] hiqsociety commented on #158
how?

[2022-07-31 08:41] rogerogers commented on #158
I take a try, c.PostForm("g") only return first value, you may get  all args by using c.PostArgs(), then parse it yourself.

[code]

[2022-07-31 08:44] rogerogers commented on #158
Covert all formdata to json format.

[2022-07-31 09:07] hiqsociety commented on #158
1. i have no idea why but i'm always getting nothing from c.PostArgs(). PostForm("g") has things but c.PostArgs() always return nothing.
2. i cant believe this simple c.PostForm not available. i check how to fix it

[2022-07-31 09:55] hiqsociety opened #159 "my form has <select name="g" multiple><option name="70010000">70010000</option> ... etc."
getting nothing from PostArgs() <- why?
i do have things from c.PostForm("key") but not postargs()

does anyone know why?

[2022-08-01 05:13] Geometry6151 opened #161 ""ClientIP" handling is unsafe"
https://github.com/cloudwego/hertz/blob/3ac19d5b1158badab0c7fc8e47b2e4ba667c4453/pkg/app/context.go#L980-L994

This code has a security risk, when using the ClientIP function it is easy to be spoofed by "X-Real-IP" and "X-Forwarded-For" to bypass the checks。

This problem also occurs with the Gin framework -> https://github.com/gin-gonic/gin/issues/2473
The fix can be found in their issue。

[2022-08-01 05:35] welkeyever commented on #161
Thanks for reporting! Are you interested in submitting a pr to fix it?
It's OK if it is not so, I'll put it into TODOs.

[2022-08-01 06:43] li-jin-gou commented on #159
[code]

 It returns the specified key from **a POST urlencoded form or multipar**t form when it exists @hiqsociety

[2022-08-01 07:26] ZaynJarvis opened #163 "Hertz client release not clean"
**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
[code]

**Expected behavior**
[code]

**Screenshots**
NA

**Hertz version:**
v0.2.0

**Environment:**
no need

[2022-08-01 07:41] welkeyever commented on #163
Good job! Thx for reporting!

[2022-08-01 09:45] juhuahaoteng opened #165 "http2 support"
http2 support, as soon as you can.

[2022-08-01 17:41] hiqsociety commented on #159
GetPostForm only returns the first value in a multi value \<select\>, u can try

[2022-08-01 17:42] hiqsociety commented on #158
updated : i've checked. it's not supported. possible NOT to use JSON? when will this be supported?
GetPostForm doesnt work too.

please help

[2022-08-02 01:56] rogerogers commented on #158
PostForm peek value from PostArgs, seems impossible PostArgs return nothing when PostForm has value . Could you provide more detail? data and headers.

[2022-08-02 03:01] li-jin-gou commented on #159
repeat issue https://github.com/cloudwego/hertz/issues/158

[2022-08-02 03:01] #159 closed

[2022-08-02 06:14] hiqsociety commented on #158
i will do so. need some time to replicate.
since i can get PostForm and not PostArgs, i will wait more for the multiple value "select" to be ready then. since i'm only lacking this and i can accept postargs not working on my side.

[2022-08-02 07:27] #163 closed

[2022-08-02 14:03] jxskiss opened #166 "Qustion about api func (ctx *RequestContext) AbortWithMsg(msg string, statusCode int)"
While reading the code, I find that the api
func (ctx *RequestContext) AbortWithMsg(msg string, statusCode int) takes statusCode as second arg, but all other AbortXXX apis take statusCode as first arg. It looks strange and no good reason, does it make sense to have consistent arg position for statusCode?

[2022-08-03 02:59] li-jin-gou commented on #166
@jxskiss  the position of the parameter is meaningless

[2022-08-03 03:06] #156 closed

[2022-08-03 03:07] #138 closed

[2022-08-03 11:05] yougg opened #170 "Go 1.19 build failed"
build with latest Go SDK:
go version go1.19 darwin/amd64

[code]

https://github.com/bytedance/sonic/issues/272

[2022-08-03 11:38] hiqsociety opened #171 "how do i get the image size uploaded in pixels?"
`
        h.POST("/p", func(ctx context.Context, c *app.RequestContext) {

                form, _ := c.MultipartForm()
                files := form.File["f[]"]

                for _, file := range files {

                        fileExt := filepath.Ext(file.Filename)

                 if fileExt == ".gif" {

                }else if fileExt == ".png" {

                }else if fileExt == ".jp

[2022-08-03 11:43] li-jin-gou commented on #171
use some image processing package :anguished: and hertz will not support... @hiqsociety

[2022-08-03 11:43] #171 closed

[2022-08-03 11:53] li-jin-gou commented on #170
This is repeat issue, use low version to solve it or wait sonic to match . thank you :kissing_heart: @yougg

[2022-08-03 15:20] byene0923 commented on #95
what  `during .Instance()` mean ? auto-reloading Render may add some time conditions such as cron ? and set a default cron if is auto-reloading Render

[2022-08-03 15:49] byene0923 commented on #95
i see `fiber `support this ,every time do the Render() will the tpl be reloaded if `engine.reload` is ture
https://github.com/gofiber/fiber/blob/c450072f4a490355dffc31f5cc36036a2383b1c7/internal/template/html/html.go#L187

so may hertz do as fiber ?

[2022-08-04 03:01] #166 closed

[2022-08-04 08:50] safeoy opened #173 "run go test fail,path:hertz/pkg/route"
**Describe the bug**

run go test fail， path : hertz/pkg/route

**To Reproduce**

Steps to reproduce the behavior:
1. cd hertz/pkg/route
2. run `go test`
3. check test log

**Expected behavior**

unit test pass

**Screenshots**

![image](https://user-images.githubusercontent.com/5627477/182805172-9fa47318-4136-48f8-bdc7-65811803f84f.png)

**Hertz version:**

v0.2.1

**Environment:**

GO111MODULE="

[2022-08-04 11:52] LhdDream commented on #173
Hi, first of all thank you for your PR , when Go version <= 1.16, mime.TypeByExtension will return Content-Type='text/plain; charset=utf-8', otherwise it will return Content-Type='text/x-go; charset=utf-8'

[2022-08-04 11:54] LhdDream commented on #173
You can refer to this link to refine your unit tests
https://github.com/gin-gonic/gin/blob/ad66d9d11a7d79d08be897bc617cda1e20f71855/context_test.go#L1017

[2022-08-04 13:58] safeoy commented on #173
@LhdDream Thanks for the reminder, I'll try to refine it

[2022-08-04 14:14] safeoy commented on #173
@LhdDream I've re-edited the code, do you mind if I use this quote of yours in the comments? It is shown below

![image](https://user-images.githubusercontent.com/5627477/182868940-abe431b2-c2ae-44fc-80e7-ce8509d7bf48.png)

[2022-08-04 14:53] LhdDream commented on #173
@safeoy Of course, I'll feel very honored

[2022-08-05 07:17] #173 closed

[2022-08-05 08:01] safeoy opened #176 "run go test ./... fail when Go version go1.18.4"
**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. `cd hertz/`
2.  `go test ./...`
3.  check log

**Expected behavior**

test pass

**Screenshots**

![image](https://user-images.githubusercontent.com/5627477/183030998-280a70fa-bc26-4eff-aec2-bfc73dbcdc82.png)

**Hertz version:**

v0.2.1

**Environment:**

GO111MODULE="au

[2022-08-05 09:43] zjclyz opened #178 "Read data timeout in hijack mode"
**Describe the bug**

When starting the service, if the transport is set to "standard.NewTransporter", a timeout error will be reported immediately when reading the connection data in hijacking mode, and if it is "netpoll. NewTransporter" is normal.

**To Reproduce**

The following code can reproduce the problem：
[code]

**Expected behavior**

When you start the service with the above code, the ac

[2022-08-05 13:54] hiqsociety opened #180 "PostArgs() enctype="multipart/form-data" issue"
**Describe the bug**

related to https://github.com/cloudwego/hertz/issues/158 also

the issue with         \<form method=post enctype="multipart/form-data"\>
and        \<form method=post\>

if with multipart/form-data,

       h.POST("/ttt", func(ctx context.Context, c *app.RequestContext) {
                fmt.Printf("EMPTY!!! = %s", c.PostArgs()) // <- PostArgs() will get no results with multi

[2022-08-05 13:56] hiqsociety commented on #158
i updated issue here,

with enctype="multipart/form-data", PostArgs shows nothing.

https://github.com/cloudwego/hertz/issues/180

[2022-08-05 15:04] hiqsociety opened #181 "how do i access "g"? i can only get the first value from g"
[code]

fmt.Printf("form  = %s\n",form)

[code]
how do i access "g"? i can only get the first value from g
  g := c.PostForm("g")

  which is 70010100 and not the rest.

  anyone knows how to get the other values of g from "form"?

[2022-08-06 03:21] rogerogers commented on #181
fmt.Println(form.Value["g"])

[2022-08-06 03:25] rogerogers commented on #180
For multipart form
You could get value like this.
[code]

[2022-08-06 12:52] hiqsociety commented on #181
thank you! u r the best!

[2022-08-06 12:52] hiqsociety commented on #180
thx!

[2022-08-06 12:52] #180 closed

[2022-08-06 12:52] #181 closed

[2022-08-07 13:52] li-jin-gou commented on #178
十分感谢，使用标准库设置超时的逻辑:
[code]

这里改为就没有问题了
[code]

[2022-08-08 02:31] gopower opened #183 "Added support for Go1.19 version"
Now,Supported versions are: 1.15, 1.16, 1.17, 1.18", not support for Go1.19 version

[2022-08-08 02:32] li-jin-gou commented on #183
repeat issue refer to https://github.com/cloudwego/hertz/issues/170

[2022-08-08 02:36] li-jin-gou commented on #170
On the road https://github.com/bytedance/sonic/pull/275

[2022-08-08 02:39] #183 closed

[2022-08-08 10:50] zjclyz commented on #178
👍🏻

[2022-08-08 10:50] #178 closed

[2022-08-08 15:11] Haswf opened #185 "Proposal: add compatibility guide for packages built for net/http"
**Is your feature request related to a problem? Please describe.**

Compatibility with existing libarays and tools in the web ecosystem is a key factor for mass adoption of Hertz. Yet, Hertz uses a very different design and API, e.g. `*http.Request` vs `*protocol.Request`, which made it very challenging to integrate with other library people already femiliar with.  As of today, there are [314,984]

[2022-08-09 06:36] welkeyever commented on #185
Good point! The job is right in the TODOs, if you are interested in it. Any pr is welcome~

[2022-08-09 09:19] brotherlu-xcq commented on #73
Organization/Company: 微信小程序【小象账单】
Website: ![gh_690c0e31e3ed_258](https://user-images.githubusercontent.com/25661357/183612046-6eb80628-3afc-4f35-9e72-1c3b6fa7ef5b.jpg)
Country: China
Contact: 1285823170@qq.com
Usage scenario: the backend of 微信小程序【小象账单】
Status: Production

[2022-08-09 09:24] GuangmingLuo commented on #73
@brotherlu-xcq Please use your company name, instead of the QR code, otherwise it will be removed. Many thanks for your support.

[2022-08-09 09:35] brotherlu-xcq commented on #73
website is creating

website is creating, I will finish it ASAP.

[2022-08-09 09:49] GuangmingLuo commented on #73
@brotherlu-xcq thanks, you may delete your reply now and I will delete mine as well to keep the comments clear.

[2022-08-10 02:28] whzhades commented on #73
禾多科技专注于打造基于前沿人工智能技术和汽车工业技术的自动驾驶方案,具备从车辆线控、多传感器技术到自动驾驶核心算法模块的完整布局,是极少数拥有全栈自动驾驶研发能力的公司之一。我们大量的数据存储于各大公有云以及自己的私有云平台。我们通过Kitex搭建我们自己的云平台同时接入各大公有云，之所选择hertz是因为我们的微服务框架为kitex，而且兼容比较好并且有很多相似的地方，可以降低学习成本
Organization/Company: 禾多科技
Website: https://www.holomatic.com/
Country: 中国（China）
Contact: [wanghaozeng@holomatic.com](mailto:wanghaozeng@holomatic.com)
Usage scenario: 云平台微服务api层
Status: 生产环境 (Production

[2022-08-10 03:43] #170 closed

[2022-08-12 23:02] hiqsociety opened #193 "2022/08/12 23:01:10.541006 connection.go:79: [Warn] HERTZ: Netpoll error=connection has been closed when flush,"
2022/08/12 23:01:10.541006 connection.go:79: [Warn] HERTZ: Netpoll error=connection has been closed when flush,

what does this mean?

[2022-08-13 06:09] Haswf commented on #119
Hi, @hiqsociety just want to let you know the community has added a working example of using Jade as template engine. Hope this [example](https://github.com/cloudwego/hertz-examples/tree/main/adaptor/jade) helps.

[2022-08-14 05:51] Duslia commented on #193
Client closes the connection when server tries to send response to client.

[2022-08-14 16:22] Haswf opened #195 "Proposal: Improve hz template documentation"
**Is your feature request related to a problem? Please describe.**

I'am trying to define a handler struct for each service defined idl, which is a widely used pattern in API development.
Taking [hertz-examples/tree/main/hz/template/package](https://github.com/cloudwego/hertz-examples/tree/main/hz/template/package) as an example, what the package template offers is:
[code]
What I am looking for is

[2022-08-15 03:06] FGYFFFF commented on #195
@Haswf
Thanks for your advice!
I will answer you  based on your three questions.

- All templates are available at [hertz-example](https://github.com/cloudwego/hertz-examples/tree/main/hz/template) and the documentation I should not mark. And there is really no copy button on the document.
- In theory, all files can be customized. But at the moment it is not recommended to modify the "register.go"

[2022-08-15 06:28] li-jin-gou opened #197 "Request help: Support more extensions of service Registration and Discovery"
###  Issue Description
Support more extensions of service Registration and Discovery. You can choose [ZooKeeper](https://zookeeper.apache.org/), [Consul](https://www.consul.io/), [etcd](https://etcd.io/)...

### Code Repository
Please create a new sub-module  in https://github.com/hertz-contrib/registry, the sub-module  name is suggested xxx, eg zookeeper.

### Extension API
- https://www.cloudweg

[2022-08-15 06:32] zstone12 commented on #197
Please assign ZooKeeper to me.

[2022-08-15 07:08] LemonFish873310466 commented on #197
Please assign Consul to me. thx❤️

[2022-08-15 09:15] Skyenought commented on #197
Maybe I can try nacos if you have the patience?

[2022-08-15 09:19] li-jin-gou commented on #197
thanks :heartbeat:

[2022-08-15 09:19] li-jin-gou commented on #197
thanks :heartbeat:

[2022-08-15 09:19] li-jin-gou commented on #197
thanks :heartbeat:

[2022-08-15 10:39] rogerogers commented on #197
polaris

[2022-08-15 11:44] li-jin-gou commented on #197
thanks 💓

[2022-08-15 12:17] li-jin-gou opened #199 "[docs]: translate hertz tutorials/tutorials/service-governance/service_discovery/"
service_discovery:
zh web page：https://www.cloudwego.io/zh/docs/hertz/tutorials/service-governance/service_discovery/
zh doc：https://github.com/cloudwego/cloudwego.github.io/blob/main/content/zh/docs/hertz/tutorials/service-governance/service_discovery.md
en folder：https://github.com/cloudwego/cloudwego.github.io/tree/main/content/en/docs/hertz/tutorials

Notes:

Do not change the original layout,

[2022-08-15 12:19] li-jin-gou opened #200 "[docs]: translate hertz tutorials/tutorials/framework-exten/service_discovery/"
monitoring:
zh web page：https://www.cloudwego.io/zh/docs/hertz/tutorials/framework-exten/service_discovery/
zh doc：https://github.com/cloudwego/cloudwego.github.io/blob/main/content/zh/docs/hertz/tutorials/framework-exten/service_discovery.md
en folder：https://github.com/cloudwego/cloudwego.github.io/tree/main/content/en/docs/hertz/tutorials

Notes:

Do not change the original layout, code style o

[2022-08-15 14:39] qiuyuyin commented on #197
etcd

[2022-08-15 15:40] byene0923 opened #201 "Proposal: Trailer support"
**Is your feature request related to a problem? Please describe.**

may Hertz support [Trailer](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Trailer) ?  that's the http feature

[2022-08-15 16:13] li-jin-gou commented on #197
Thanks💓, you may join our Feishu Chat Group to discuss more details about this task and welcome to contact me @qiuyuyin

[2022-08-16 11:45] #62 closed

[2022-08-16 13:53] Haswf commented on #197
I would like to work on bringing eureka integration to Hertz

[2022-08-16 14:18] li-jin-gou commented on #197
thanks 💓@Haswf

[2022-08-19 18:51] BinaryLorain commented on #199
Kindly ask if somebody is working on this issue. if not, I'd like to work on it.

[2022-08-21 14:32] #195 closed

[2022-08-22 06:10] hiqsociety opened #206 "http3 integration. http2 is outdated. just go with http3"
https://github.com/cloudwego/hertz/issues/165

maybe integrate with this
https://pkg.go.dev/github.com/lucas-clemente/quic-go/http3

[2022-08-22 10:23] li-jin-gou commented on #206
Hello @hiqsociety feel free to contact us and join the lark group, describing a specific requirement scenario:heart:

[2022-08-22 11:26] li-jin-gou commented on #165
Hello @juhuahaoteng  feel free to contact us and join the lark group, describing a specific requirement scenario❤️

[2022-08-23 02:06] #199 closed

[2022-08-23 07:44] #193 closed

[2022-08-24 07:52] rogerogers commented on #200
Assign me.

[2022-08-24 10:51] a631807682 commented on #197
servicecomb

[2022-08-24 15:26] li-jin-gou commented on #197
thanks 💓 @a631807682

[2022-08-25 02:43] li-jin-gou commented on #200
thanks @rogerogers

[2022-08-25 03:00] #176 closed

[2022-08-25 07:54] li-jin-gou commented on #65
Hi~ I am wondering how it's going? Do you encounter any difficulties? You may join our Feishu Chat Group to discuss more details about this task. @brotherlu-xcq

[2022-08-28 02:41] rogerogers opened #212 "Proposal: Go 1.19 support"
**Is your feature request related to a problem? Please describe.**

The current version of Sonic (1.3.0) does not support golang 1.19, causes panic when running project with go version 1.19.

**Describe the solution you'd like**

Support for the 1.19 version has been released, upgrade sonic to version 1.4.0.

**Describe alternatives you've considered**

**Additional context**

[2022-08-28 05:13] li-jin-gou commented on #212
refer to https://github.com/cloudwego/hertz/pull/191

[2022-08-29 01:11] yangboz opened #213 "@latest found (v0.2.1), but does not contain package github.com/cloudwego/hertz/pkg/consts"
**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

A clear and concise description of what you expected to happen.

**Screenshots**

If applicable, add screenshots to help explain your problem.

**Hertz version:**

Please provide

[2022-08-29 02:45] li-jin-gou commented on #213
可以提供一下具体代码的示例嘛,下面这个是文档中的demo,其中常量是在 `github.com/cloudwego/hertz/pkg/protocol/consts`中了，而不是 `github.com/cloudwego/hertz/pkg/consts`
[code]

[2022-08-29 03:40] yangboz commented on #213
就是当前文档所用的参考代码

[2022-08-29 03:45] li-jin-gou commented on #213
详细报错信息粘贴一下 @yangboz 我本地是OK的

[2022-08-29 03:54] yangboz commented on #213
确认文档已修正 https://www.cloudwego.io/docs/hertz/getting-started/

[2022-08-29 03:54] #213 closed

[2022-08-29 12:28] #197 closed

[2022-08-29 14:40] tingin opened #218 "token authentication"
token-based authentication for apps ,  support crypto token, store in redis...

[2022-08-29 15:22] li-jin-gou commented on #218
@tingin  refer to
- https://github.com/hertz-contrib/sessions
- https://github.com/hertz-contrib/jwt

[2022-08-30 05:33] #185 closed

[2022-08-30 09:38] codeoos opened #220 "Can hertz support more than one logger?"
**Is your feature request related to a problem? Please describe.**

Now, In package hlog,all of the operations were related to one logger,if i want more than one logger ,it can't satisfy my need.For example, i want to print warning info to WARNING.log error info to ERROR.log, or i want to print biz info to NOTICE.log and print rpc info to RPC.log...

**Describe the solution you'd like**

I think t

[2022-08-30 09:43] codeoos opened #221 "Can hertz support all of the logs about one context can be print in one line"
**Is your feature request related to a problem? Please describe.**

I find that all of the functions about CtxXXXf(for example: CtxNoticef)have a param "ctx",but the param "ctx" aren't be used...So i can't print all logs about one ctx in one line.

**Describe the solution you'd like**

We can add an LogCtx in ctx,In LogCtx,It have some log fields,when this ctx's life is end,all of the fields will

[2022-08-30 10:01] li-jin-gou commented on #221
可以支持自定义logger https://www.cloudwego.io/zh/docs/hertz/tutorials/framework-exten/log/
一个比较好的自定义实现可以参考，https://github.com/hertz-contrib/obs-opentelemetry/tree/main/logging/logrus

[2022-08-30 10:15] codeoos commented on #221
OK,我的英语很中式吗，一眼国人？🤣

[2022-08-30 10:16] codeoos commented on #220
close

[2022-08-30 10:16] #220 closed

[2022-08-30 11:01] codeoos commented on #221
英文发了issue，被中文回复，比较惊讶&好奇hhh

[2022-08-30 11:12] PureWhiteWu commented on #221
@codeoos
![image](https://user-images.githubusercontent.com/3314335/187422363-00ff9cd9-2310-4aad-8c4e-04e19e7f6799.png)

[2022-08-30 11:17] codeoos commented on #221
🤣

[2022-08-30 11:17] #221 closed

[2022-08-31 09:38] #200 closed

[2022-08-31 11:00] a631807682 opened #222 ":sparkles: Proposal: Support New and SetCallerSkip func for hlog"
## Is your feature request related to a problem? Please describe.

### en
At present, it is difficult for us to directly use hlog in business scenarios.
First of all it is a public instance, any settings will take effect globally (not only business code, but also hertz).
Secondly as the documentation says [hlog](https://www.cloudwego.io/docs/hertz/tutorials/framework-exten/log/) it is difficult to

[2022-08-31 15:00] #218 closed

[2022-09-01 02:30] welkeyever opened #224 ":adhesive_bandage: Missing limitation for customized status code"
**Describe the bug**

There is no limitation for the customized status code, and this may cause some proxy(like envoy) work abnormally.

According to RFC(https://www.rfc-editor.org/rfc/rfc2616#section-6.1.1), extension-code SHOULD be a 3DIGIT code.

**To Reproduce**

None

**Expected behavior**

A status code check may help

**Screenshots**

None

**Hertz version:**

All version

**Environment:**

[2022-09-01 02:40] welkeyever commented on #222
目前的这套日志确实有一定的局限性，这块如果有好的优化思路欢迎直接提出来一起看看哈；

目前的一些想法：
1. 给hertz实例增加一个local logger（避免受全局配置的影响）
2. 增加配置call depth的方式

@li-jin-gou 一起看看哈，最好是能出一个优化方案

[2022-09-01 07:46] Skyenought opened #225 ":memo: docs: translate i18n, session, gzip in hertz/tutorials/basic-feature/middleware"
#### gzip
- zh web page: https://www.cloudwego.io/zh/docs/hertz/tutorials/basic-feature/middleware/gzip/
- zh doc: https://github.com/cloudwego/cloudwego.github.io/tree/main/content/zh/docs/hertz/tutorials/basic-feature/middleware/gzip.md
- en folder: https://github.com/cloudwego/cloudwego.github.io/tree/main/content/en/docs/hertz/tutorials/basic-feature/middleware

#### session
- zh web page: htt

[2022-09-01 13:23] #95 closed

[2022-09-02 02:47] byene0923 opened #227 ":zap: optimize: may HeaderScanner and HeaderValueScanner be pooled?"
**Is your feature request related to a problem? Please describe.**

is it possible to make  [HeaderScanner](https://github.com/cloudwego/hertz/blob/develop/pkg/protocol/http1/ext/headerscanner.go#L53)  and [HeaderValueScanner](https://github.com/cloudwego/hertz/blob/develop/pkg/protocol/http1/ext/headerscanner.go#L75) pooled ?

[2022-09-04 08:55] ruokeqx opened #228 "hertz path-traversal bug in windows server"
**Describe the bug**

hertz path-traversal bug in windows server.

Hackers can read any file in windows server since there are no backslash restrictions.

Since backslash doesn't work in linux filesystem, the bug works in a very limited production environment.

**Screenshots**

![image](https://user-images.githubusercontent.com/55469170/188304272-4f25c5d3-d732-4f70-8b90-00da8121f947.png)

**Hertz

[2022-09-05 08:38] chenke1115 opened #230 "希望集成一下热更新工具"
**Is your feature request related to a problem? Please describe.**

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**

A clear and concise description of what you want to happen.

**Describe alternatives you've considered**

A clear and concise description of any alternative solutions or features you've considered.

*

[2022-09-05 08:48] FGYFFFF commented on #230
能具体说下需求吗？ @chenke1115

[2022-09-05 13:25] rafimuhammad01 commented on #206
hi @li-jin-gou I am interested to working on this issue, can you help me where to start?

[2022-09-05 16:02] Haswf commented on #230
It seems [air](https://github.com/cosmtrek/air) became the go community's [prefered choice](https://www.reddit.com/r/golang/comments/wbncht/hot_reload_in_golang/) to recompile code on change as [refresh](https://github.com/gravityblast/fresh) it no longer being maintained. I would to like continue working on bringing hot reloading to Hertz if [air](https://github.com/cosmtrek/air) sounds like a go

[2022-09-06 03:11] FGYFFFF commented on #230
@Haswf @chenke1115 !  I researched some common hot-loading tools yesterday, such as [gin](https://github.com/codegangsta/gin), [air](https://github.com/cosmtrek/air), [fresh](https://github.com/gravityblast/fresh).  These tools are geared towards general web scenarios and are relatively mature. If you need, you can use these tools. At the moment I do not think it is necessary to do these things fo

[2022-09-06 05:42] chenke1115 commented on #230
@Haswf @FGYFFFF more than hertz, we user hertz + kitex to create an iot project.
I will get a try of air or fresh, but I still hope cloudwoge will  launch its own hot-loading tools

[2022-09-06 05:54] li-jin-gou commented on #230
Hot loading has nothing to do with HTTP frameworks, users can use existing tools on their own, so we do not support。
refer to https://www.cloudwego.io/ cloudwego Features

[2022-09-06 05:54] #230 closed

[2022-09-06 11:35] Haswf commented on #227
I would like to work on this.

[2022-09-06 14:29] hushengquan opened #231 ":bug: There is no automatic redirection in these cases"
**Describe the bug**

There is no automatic redirection in these cases

**To Reproduce**
[code]

**Expected behavior**

Send a GET request, access /user/name can be redirected to /user/name/, and access /r can be redirected to /r/

**Screenshots**

![image](https://user-images.githubusercontent.com/45221305/188658125-9901e768-9d99-4bdd-9ab5-bf5266c67800.png)
![mkzWWAJyAH](https://user-images.githu

[2022-09-07 11:28] Skyenought opened #233 "[docs]: translate hertz tutorials/basic-feature/route/"
### route:
- **zh web page**: https://www.cloudwego.io/zh/docs/hertz/tutorials/basic-feature/route/
- **zh docs**: https://github.com/cloudwego/cloudwego.github.io/edit/main/content/zh/docs/hertz/tutorials/basic-feature/route.md
- **en folder**: https://github.com/cloudwego/cloudwego.github.io/edit/main/content/en/docs/hertz/tutorials/basic-feature/

### Notes:

Do not change the original layout,

[2022-09-07 11:34] Skyenought opened #234 ":memo: [docs]: translate hertz tutorials/service-governance/open-telemetry/"
### OpenTelemetry
- **zh web page**: https://www.cloudwego.io/zh/docs/hertz/tutorials/service-governance/open-telemetry/
- **zh docs**: https://github.com/cloudwego/cloudwego.github.io/edit/main/content/zh/docs/hertz/tutorials/service-governance/open-telemetry.md
- **en folder**: https://github.com/cloudwego/cloudwego.github.io/edit/main/content/zh/docs/hertz/tutorials/service-governance/

### Not

[2022-09-07 14:24] li-jin-gou commented on #24
@hiqsociety  refer to https://github.com/hertz-contrib/reverseproxy

[2022-09-08 03:18] byene0923 opened #236 "optimize: reduce one loop and one find() in Engine.ServeHTTP"
**Is your feature request related to a problem? Please describe.**

may optimize the code in [Engine.ServeHTTP](https://github.com/cloudwego/hertz/blob/develop/pkg/route/engine.go#L595)？i thought the [HandleMethodNotAllowed](https://github.com/cloudwego/hertz/blob/develop/pkg/route/engine.go#L646) can be merged in the [pre code](https://github.com/cloudwego/hertz/blob/develop/pkg/route/engine.go#L

[2022-09-08 03:25] #236 closed

[2022-09-08 05:13] #24 closed

[2022-09-08 05:59] #212 closed

[2022-09-08 08:48] #228 closed

[2022-09-10 02:50] BinaryLorain commented on #233
Please assign it to me.

[2022-09-10 02:55] Skyenought commented on #233
thx

[2022-09-13 08:42] iyear commented on #234
I am willing to work for this :)

[2022-09-13 09:52] li-jin-gou commented on #234
thanks

[2022-09-13 13:48] li-jin-gou opened #240 ":sparkles: support pprof extension"
**Is your feature request related to a problem? Please describe.**

- Elegantly support pprof

**Additional context**

refer to:
- https://github.com/gofiber/fiber/tree/master/middleware/pprof
- https://github.com/gin-contrib/pprof

[2022-09-13 15:37] Haswf commented on #240
Please assign this to me. I would like to work on this.

[2022-09-13 16:01] li-jin-gou commented on #240
thanks

[2022-09-14 03:14] #65 closed

[2022-09-14 07:24] baiyutang opened #244 ":memo: [docs]: translate hertz tutorials/basic-feature/protocol/websocket/"
## Websocket
**zh web page**：https://www.cloudwego.io/zh/docs/hertz/tutorials/basic-feature/protocol/websocket/
**zh doc**：https://github.com/cloudwego/cloudwego.github.io/blob/main/content/zh/docs/hertz/tutorials/basic-feature/protocol/websocket.md
**en folder**：https://github.com/cloudwego/cloudwego.github.io/tree/main/content/en/docs/hertz/tutorials/basic-feature/protocol

tips：
1. you can crea

[2022-09-14 07:33] baiyutang commented on #43
Hertz has implemented to support Websocket. This issue will be closed.

[2022-09-14 07:33] #43 closed

[2022-09-14 07:44] L2ncE commented on #244
I want to try this

[2022-09-14 07:53] BaiZe1998 commented on #61
I want to try it

[2022-09-14 08:19] justlorain commented on #225
I'd like to try this.

[2022-09-14 08:58] li-jin-gou opened #246 ":sparkles: support sentry extension"
**Is your feature request related to a problem? Please describe.**

- Elegantly support sentry

**Additional context**

Refer to :
- https://github.com/getsentry/sentry-go
- https://github.com/gofiber/contrib/tree/main/fibersentry

[2022-09-14 09:01] li-jin-gou commented on #61
thanks

[2022-09-14 09:15] li-jin-gou commented on #240
@Haswf  There are unfinished issues, this issue will unassigned.

[2022-09-14 11:39] #233 closed

[2022-09-14 11:46] gityh2021 commented on #246
I want to finish this task.

[2022-09-14 11:48] li-jin-gou commented on #246
@gityh2021  thanks

[2022-09-14 11:48] li-jin-gou commented on #225
@justlorain  thanks,feel free to contact us and join the lark group(Hertz SIG)

[2022-09-14 15:28] byene0923 commented on #227
I thought this may be done like [bodyStreamPool](https://github.com/cloudwego/hertz/blob/97bb37e14eec8fd29e7d23e0ce25fe4e01d76954/pkg/protocol/http1/ext/stream.go#L58)?

by the way
you could also think how to  reset `HeaderScanner` and `HeaderValueScanner` , such as how to handle  `sync.Pool` and `[]byte`?

[2022-09-15 06:56] #244 closed

[2022-09-15 07:53] #234 closed

[2022-09-15 12:20] li-jin-gou commented on #84
The assignee of this issue has been reset.

[2022-09-15 13:06] wangbei98 commented on #240
i want to try it

[2022-09-15 13:08] li-jin-gou commented on #240
@wangbei98  thanks

[2022-09-15 13:19] L2ncE commented on #135
Support to unify the style of kitex and hertz

[2022-09-15 13:35] KevinChens commented on #84
I am willing to work for this :)

[2022-09-15 13:56] li-jin-gou commented on #84
thanks @KevinChens

[2022-09-16 07:22] Skyenought opened #247 "✨ support secure extension"
**Is your feature request related to a problem? Please describe.**

Elegantly support secure

**Refer to :**

- https://github.com/gin-contrib/secure
- https://github.com/gofiber/helmet/

[2022-09-16 08:45] li-jin-gou commented on #206
@rafimuhammad01  Hello, this feature is already in preparation, welcome to code review together when the time comes

[2022-09-16 09:02] YUandJIANG commented on #247
I want to try it.

[2022-09-16 09:04] Skyenought commented on #247
thx

[2022-09-16 09:05] BeanWei opened #248 ":sparkles: feat-request: errors support format"
like: `errors.Newf`, `errors.NewPublicf`

[2022-09-16 09:56] li-jin-gou opened #250 "✨ Proposal: add channel signal judge to allow onShutdownHook to complete or timeout"
**Is your feature request related to a problem? Please describe.**

- When using `engin.Shutdown` often happens that OnShutdown does not finish executing, because `Trigger OnShutdown hooks concurrently, but don't wait them`
- hope to  trigger OnShutdown hooks concurrently and wait them until wait timeout or finish

**Describe the solution you'd like**

- use channel signal  and context.Context to

[2022-09-17 06:45] BaiZe1998 commented on #248
I want to try it

[2022-09-17 09:26] li-jin-gou commented on #248
@BeanWei  thanks

[2022-09-17 11:55] li-jin-gou opened #252 "✨ Proposal: convert handler of `net/http` to handler of `hertz`"
**Is your feature request related to a problem? Please describe.**

 add adaptor to convert handler of `net/http` to  function of `hertz`

-  Support for fast migration of `net/http` services to hertz

**Describe the solution you'd like**

- add handler adapter to convert handler function of `net/http` to  handler function of `hertz`

**Notice**

-  A lot of useful functionality provided by `hertz

[2022-09-17 12:13] Skyenought commented on #135
kitex 已经支持了后缀猜测
https://github.com/cloudwego/kitex/pull/590

[2022-09-17 12:14] #135 closed

[2022-09-17 13:45] Skyenought commented on #252
https://github.com/cloudwego/hertz/pull/253

[2022-09-17 13:46] Skyenought commented on #252
https://github.com/cloudwego/hertz/pull/253

[2022-09-18 09:01] #119 closed

[2022-09-19 03:34] #231 closed

[2022-09-19 03:53] #225 closed

[2022-09-19 06:53] #61 closed

[2022-09-19 07:03] li-jin-gou opened #254 "Missing response adaptor unit test"

[2022-09-19 08:23] BaiZe1998 commented on #254
i want to try it

[2022-09-19 08:26] li-jin-gou commented on #254
thanks

[2022-09-19 08:35] #158 closed

[2022-09-19 08:37] BeanWei opened #255 "Question: How to catch internal error"
[code]

Step: Upload a large file, will throw `body size exceeds the given limit` error.

How to  catch `engine.go:410: [Error] HERTZ: Error=body size exceeds the given limit, remoteAddr=`

[2022-09-19 09:08] #224 closed

[2022-09-19 09:08] li-jin-gou commented on #255
hello @BeanWei  you can refer to https://www.cloudwego.io/zh/docs/hertz/reference/config/  and use `WithMaxRequestBodySize`

[2022-09-19 09:23] li-jin-gou commented on #255
look this logic:

[code]
error  is not added to error chain, we need to discuss how to deal with.

[2022-09-19 09:48] GuangmingLuo opened #256 "【招聘】微服务/中间件开源研发工程师"
**城市**

北京/上海 （北京优先）

**职位描述**
1、参与 CloudWeGo 开源项目，包括开源项目功能开发、周边生态集成、知识体系建设以及对外布道，共同建设业界一流的开源项目；
2、参与 Service Mesh/Multiple Runtime 相关的开源项目，包括代码贡献和社区建设，建设字节跳动在该项目与该领域的技术影响力。

**职位要求**
1、本科及以上学历，计算机、通信等相关专业；
2、熟练掌握 Go/C/C++/Rust 中一门或者多门语言；
3、具备优秀的逻辑思维能力，对业界全新前沿技术、思考问题实践充满热情；
4、具备开源精神以及较强的合作精神与学习能力。

具备以下条件之一者优先：
1、gRPC/Istio/Linkerd/Envoy/Dubbo/Mosn/Dapr 开源项目 Committer 优先；
2、有 CloudWeGo 开源项目贡献经历者优先

[2022-09-19 11:13] #250 closed

[2022-09-19 13:04] welkeyever opened #257 "Request help: Supplementary of Unit Tests"
**Issue Description**
Write Unit Tests for some modules of Hertz, we mainly focus on **Statement Coverage**. The packages are shown below, you can choose and reply by comment.
Before you pick the task, please comply with the following requirements:
- The Unit Test you add must be meaningful.
  - It is used to verify the correctness of code logic.
  - It is forbidden to add a test only for the purp

[2022-09-19 13:49] #256 closed

[2022-09-19 14:33] BaiZe1998 commented on #257
i want to help

[2022-09-19 14:52] BaiZe1998 commented on #257
i want to be in charge of `pkg/network`

[2022-09-19 14:53] li-jin-gou commented on #257
thanks

[2022-09-19 15:36] rogerogers commented on #257
I want to do `pkg/common/config`

[2022-09-19 15:56] li-jin-gou commented on #257
thanks

[2022-09-20 06:43] #84 closed

[2022-09-20 07:00] #252 closed

[2022-09-20 07:56] KevinChens commented on #257
I want to do `pkg/app`

[2022-09-20 14:48] L2ncE commented on #257
I want to do `pkg/common/adaptor`

[2022-09-20 15:22] li-jin-gou commented on #257
@L2ncE  thanks

[2022-09-20 17:03] li-jin-gou opened #263 "Proposal: support for exporting http service meta information"
**Is your feature request related to a problem? Please describe.**

- support service meta information reporting to opensergo dashboard
- users need to use the service meta information to implement authentication and limiter, etc.

so we need to provide a function to export service meta information

**Describe the solution you'd like**

- provide a function `func (engin *Engine)GetServiceInfo() *S

[2022-09-21 03:07] #248 closed

[2022-09-21 03:45] #263 closed

[2022-09-21 05:13] li-jin-gou commented on #263
already provide api, refer to https://github.com/cloudwego/hertz/blob/develop/pkg/route/engine.go#L885

[2022-09-21 07:56] #240 closed

[2022-09-22 16:02] justlorain commented on #257
I'd like to try `pkg/protocol/args.go`.

[2022-09-22 16:03] li-jin-gou commented on #257
thanks

[2022-09-23 05:45] li-jin-gou opened #268 "optimize: add a option to controls whether debugPrintRoute executes"
**Is your feature request related to a problem? Please describe.**

-  When the server is running, it  will print a lot of logs of the routes and i wish I could control its printing

**Describe the solution you'd like**

- add a option

[2022-09-23 07:20] Alexdener commented on #257
Can I try internal/bytesconv?

[2022-09-23 07:43] li-jin-gou commented on #257
thanks

[2022-09-23 08:00] L2ncE commented on #268
It seems that adding a new parameter to `addRoute` would require a lot of changes. Is it feasible to use syntactic sugar to transform into optional parameters.

[2022-09-23 08:03] li-jin-gou commented on #268
add `With**` 's option

[2022-09-23 08:45] L2ncE commented on #268
I want to do it

[2022-09-23 08:55] li-jin-gou commented on #268
@L2ncE  Thanks, but there are unfinished doc  issues, so issue will unassigned.

[2022-09-24 02:39] Skyenought opened #270 "Question: why `name` property in `pkg/route/engine.Engine` is public ?"
**Describe the solution you'd like**

zh: 在 [pkg/route/engine](https://github.com/cloudwego/hertz/blob/develop/pkg/route/engine.go#L115) 中，name 属性为公用。

从 [GetServiceName](https://github.com/cloudwego/hertz/blob/develop/pkg/route/engine.go#L453) 方法知, 在没有设置属性的时候，会返回 "hertz" 作为默认信息。

但实际上，我可以直接通过直接取值取到意料之外的值
[code]
所以我想问，这是因为有相关背景才将属性公有的吗？

[2022-09-26 06:22] #268 closed

[2022-09-26 09:05] L2ncE commented on #257
Can I try again and take charge of the `pkg/protocol/uri.go`?

[2022-09-26 12:52] li-jin-gou commented on #257
thanks

[2022-09-27 02:39] Nyx2022 opened #275 "is there have plans to support http pipeline"
is there have plans to support http pipeline?

[2022-09-27 02:50] li-jin-gou commented on #275
- No chance for now, you are welcome to contribute to the community.
- This capability is similar to H2 and we are about to open source H2.

[2022-09-27 06:47] adcs120lan opened #277 "hertz默认Json Marshall库sonic在不支持AVX的amd64服务器上初始化失败"
https://www.cloudwego.io/zh/docs/hertz/reference/json/
已使用自定义 JSON Marshall 库，但在不支持AVX的amd64服务器上，应用启动时会报以下错误：

panic: Unsupported CPU, maybe it's too old to run Sonic.

goroutine 1 [running]:
github.com/bytedance/sonic/internal/native.init.0()
/go/pkg/mod/github.com/bytedance/sonic@v1.3.1/internal/native/dispatch_amd64.go:144 +0x1fb

请问是否可以通过某项设置，来阻止sonic初始化报错，或者让sonic降级到标准库也行。

[2022-09-27 06:59] li-jin-gou commented on #277
cc @AsterDY

[2022-09-27 07:04] AsterDY commented on #277
upgrade sonic >= v1.4.0

[2022-09-27 07:17] adcs120lan commented on #277
<img width="809" alt="image" src="https://user-images.githubusercontent.com/9584373/192457355-128f0962-04a4-4031-b224-32a7fc092563.png">
<img width="963" alt="image" src="https://user-images.githubusercontent.com/9584373/192458814-8d5ce2a8-3489-4712-8062-b70cc8aca056.png">
经测试hertz自动引入的v1.4.0版sonic和升级的v1.5.0版sonic在启动后还是报错。

[2022-09-27 07:20] adcs120lan commented on #277
hertz在使用自定义JSON Marshal库后，是否能不初始化sonic？

[2022-09-27 08:17] AsterDY commented on #277
this only can be resolved from hertz @li-jin-gou

[2022-09-27 08:18] AsterDY commented on #277
给个full stack吧，看不出来你是咋引入的

[2022-09-27 08:29] adcs120lan commented on #277
<img width="682" alt="image" src="https://user-images.githubusercontent.com/9584373/192474232-878fd3fa-be22-4a65-a20b-4caa6a18c5b9.png">
<img width="780" alt="image" src="https://user-images.githubusercontent.com/9584373/192474374-750f16ed-4df9-4ace-acf5-62d935366187.png">
<img width="417" alt="image" src="https://user-images.githubusercontent.com/9584373/192474446-aedf37aa-0377-4ff6-9d1b-1a461d50

[2022-09-27 08:45] welkeyever commented on #277
应该可以加个编译选项过滤掉这个问题 & 提供用户一个选择的空间；我试试

[2022-09-27 09:22] AsterDY commented on #277
难道是你的cpu连SSE4都没有？main最新提交(https://github.com/bytedance/sonic/commit/56e81a633e4c41efba9b475296a63369a5a0437d)应该已经支持 SSE，麻烦再试试呢

[2022-09-27 09:38] #277 closed

[2022-09-27 09:42] adcs120lan commented on #277
谢谢，服务已经能启动了，部分服务器的CPU支持的指令集较为古老

[2022-09-27 13:01] ackerr commented on #270
我理解这里name是public的，是为了方便你设置自定义ServerName吧，如果你没设置过就是默认的`hertz`

这是对应的测试用例
[code]

[2022-09-27 13:50] li-jin-gou commented on #257
thanks

[2022-09-27 15:13] Skyenought commented on #270
thx

[2022-09-27 15:13] #270 closed

[2022-09-28 09:50] #63 closed

[2022-09-29 03:22] 1739616529 opened #279 "go run 运行项目后 端口号日志打印缺失"
**Describe the bug**

用 go run 运行项目后 控制台应该会有 [::]:8080 这条日志的输出  但是 我遇到的情况是 在 ctrl c 之后才会打印这条日志

**To Reproduce**

1. go run xxx

**Expected behavior**

在 go run xxx 的几条控制台输出里边应该存 当前服务的端口号等信息的 输出
**Screenshots**

![image](https://user-images.githubusercontent.com/77950104/192931090-ce4b9101-46a1-416c-abb0-e1931c06abdc.png)
这是运行之后的输出 没有打印 当前服务的端口号信息

![image](https://user-images.githubusercontent.co

[2022-09-29 03:45] welkeyever opened #281 "Supplementary documentation for json tag"
Update user docs for this update: #278 at https://www.cloudwego.io/docs/hertz/reference/json/
- https://github.com/cloudwego/cloudwego.github.io/blob/main/content/en/docs/hertz/reference/json.md
- https://github.com/cloudwego/cloudwego.github.io/blob/main/content/zh/docs/hertz/reference/json.md

[2022-09-29 07:28] zstone12 commented on #257
can i try `pkg/protocol/header.go` ?

[2022-09-29 07:32] BaiZe1998 commented on #257
i want to do `pkg/protocol/request.go`

[2022-09-29 07:38] li-jin-gou commented on #279
@1739616529  thanks

[2022-09-29 07:42] li-jin-gou commented on #257
thanks

[2022-09-29 07:44] li-jin-gou commented on #257
@BaiZe1998  thanks , but https://github.com/cloudwego/hertz/pull/271 doesn't yet merge

[2022-09-30 06:36] gitHub350 commented on #123
win10  go1.18.6   也还是出现了这个错误

[2022-09-30 08:36] welkeyever commented on #123
sry, #278 will provide an option to deal with this situation, it will soon release

[2022-10-08 14:28] Haswf commented on #281
I would like to work on this. However, I haven't had the chance to play with go build tag and constraint. It may take a while for me to learn it first.

[2022-10-09 02:32] welkeyever commented on #281
Good job! Already assigned to you

Looking forward to it~

[2022-10-09 03:59] dongfangx opened #286 "reverseproxy bug"
proxy, err := reverseproxy.NewSingleHostReverseProxy("http://127.0.0.1:8080/proxy")
can not proxy;

proxy, err := reverseproxy.NewSingleHostReverseProxy("http://127.0.0.1:8080")
This is possible

[2022-10-09 05:04] li-jin-gou commented on #286
- Sample code refer to https://github.com/cloudwego/hertz-examples/blob/main/reverseproxy/standard/main.go and it is ok.
- The default URL splicing rule is Original path spliced target in https://github.com/hertz-contrib/reverseproxy/blob/master/reverse_proxy.go#L95, you  can use `SetDirector` to Customized.

[2022-10-10 06:08] #246 closed

[2022-10-11 00:56] L2ncE opened #287 "Docs: Documentation for many middleware is not in cloudwego.io"
**Is your feature request related to a problem? Please describe.**

I found that the documentation on middleware on the official website is incomplete

**Describe the solution you'd like**

Supplement their documentation to the official website

[2022-10-11 02:35] li-jin-gou commented on #287
Doing and refer to https://github.com/cloudwego/cloudwego.github.io/pulls

[2022-10-11 02:37] gityh2021 commented on #257
I wanna try `pkg/protocol/response.go`

[2022-10-11 02:39] li-jin-gou commented on #257
thanks @gityh2021

[2022-10-11 09:30] #247 closed

[2022-10-12 03:27] georgehao commented on #257
i wanna try kg/route

[2022-10-12 03:29] li-jin-gou commented on #257
thanks @georgehao

[2022-10-13 02:42] Hsirehc opened #292 "hlog.SetOutput重定向日志记录到文件，只创建了文件，但是没有写入日志到文件里面，文件一直是空的"
[code]
使用hlog.Infof("日志记录信息")调用，结果output.log没有记录任何信息，请问是写法有问题吗？

[2022-10-13 02:58] li-jin-gou commented on #292
去掉 defer f.Close() 就好了，亲测。

[2022-10-13 03:04] #292 closed

[2022-10-13 03:10] L2ncE opened #293 "hlog lacks examples and unit tests"
**Is your feature request related to a problem? Please describe.**

I see a lack of samples and unit tests for the use of hlog

**Describe the solution you'd like**

add examples and unit tests

[2022-10-13 03:24] li-jin-gou commented on #293
Thanks for reporting! Are you interested in submitting a pr to solve it?
It's OK if it is not so, I'll put it into TODOs.

[2022-10-13 03:27] L2ncE commented on #293
I'd like to try

[2022-10-14 05:13] #287 closed

[2022-10-14 06:12] chenke1115 opened #294 "A question about session extensions"
![image](https://user-images.githubusercontent.com/45746058/195774274-4b523b99-9a90-4826-a988-9f71891a13e0.png)
The session cache cannot be read from the client request，and create a new session key
![Uploading image.png…]()
But my local development environment was successful, the cache value can be obtained

[2022-10-14 06:34] li-jin-gou commented on #294
前端未携带 cookie

[2022-10-14 06:34] #294 closed

[2022-10-14 06:37] li-jin-gou commented on #293
@L2ncE  We should also improve the logging documentation to let users know that we support zap log.
- https://www.cloudwego.io/zh/docs/hertz/tutorials/basic-feature/log/

[2022-10-14 06:38] L2ncE commented on #293
got it

[2022-10-14 07:40] #293 closed

[2022-10-15 03:50] mm2175 opened #296 "Any guides about migrating from beego to hertz?"

[2022-10-15 07:42] L2ncE commented on #296
You can look directly at hertz documentation, see [hertz-doc](https://www.cloudwego.io/docs/hertz/)

[2022-10-15 13:15] L2ncE opened #300 "Proposal: add csrf middleware"
**Is your feature request related to a problem? Please describe.**

Currently Hertz does not support csrf yet

**Describe the solution you'd like**

Add csrf middleware

[2022-10-15 13:17] li-jin-gou commented on #300
Thanks for reporting! Are you interested in submitting a pr to fix it?
It's OK if it is not so, I'll put it into TODOs.

[2022-10-15 13:18] L2ncE commented on #300
I'd like to try it.

[2022-10-15 19:07] justlorain opened #301 "Proposal: add favicon middleware"
**Is your feature request related to a problem? Please describe.**

Add a favicon middleware to provide more options for users.

**Describe the solution you'd like**

Add favicon middleware.

[2022-10-16 03:59] li-jin-gou commented on #301
Helolo @justlorain, I realize that this is not necessary because it is not complicated and the configuration of `FS` is easy to solve this problem.

[2022-10-16 04:07] justlorain commented on #301
I got it, thx.

[2022-10-16 04:09] #301 closed

[2022-10-16 09:54] L2ncE commented on #275
When the pipeline receives the response, it must also be received in an orderly manner, that is, the first request sent, the corresponding response must also be the firstTo receive, even if other responses arrive first, you must wait when receiving.

I think H2 is better option and has been open sourced. See https://github.com/cloudwego/hertz/pull/283

[2022-10-17 02:04] bolt163 opened #302 "code unsafety under pkg\protocol"
**Describe the bug**

there may be a unsafety rise  with  os.Open(path)    opertaion  in  AddFile  function at   line 176  of   multipart.go file  under  pkg/protocol  directory,

if  '../'   or '../../../', '../../../../../'    etc is in the path, which may trigger a  unauthorized access to the path, the proper operation need to defer the   unauthorized access

**Expected behavior**

 the proper

[2022-10-17 03:01] li-jin-gou commented on #302
Hello,can you provide more detailed information?

[2022-10-17 06:22] welkeyever commented on #302
A demo is helpful if you may offer one🙏

[2022-10-18 12:54] li-jin-gou opened #305 "doc: Add hertz extensions to the list in readme"
**Is your feature request related to a problem? Please describe.**

Hertz currently has more than 20 [extensions](https://github.com/hertz-contrib/) such as jwt, i18n, gzip, etc. I think we should show these extensions in the readme to make it easier for users to find them.

**Describe the solution you'd like**

- Add hertz extensions to the list in readme

[2022-10-20 06:28] #305 closed

[2022-10-20 09:22] zj-kenzhou opened #314 "Cannot switch the network library to netpoll"
**Describe the bug**
default network library is standard,
Cannot switch the network library to netpoll

**Screenshots**

**Hertz version:**

0.3.2

**Environment:**

set GO111MODULE=on
set GOARCH=amd64
set GOBIN=
set GOCACHE=C:\Users\zhouken\AppData\Local\go-build
set GOENV=C:\Users\zhouken\AppData\Roaming\go\env
set GOEXE=.exe
set GOEXPERIMENT=
set GOFLAGS=
set GOHOSTARCH=amd64
set GOHOSTOS=windo

[2022-10-20 09:44] zj-kenzhou commented on #314
update comment

[2022-10-20 09:44] welkeyever commented on #314
since the main.go is quite simple, you may paste it fully.

[2022-10-20 09:45] zj-kenzhou commented on #314
![image](https://user-images.githubusercontent.com/37363187/196915479-a2f7b585-0462-4c6d-9449-ee0aa430155c.png)

[2022-10-20 09:46] zj-kenzhou commented on #314
![image](https://user-images.githubusercontent.com/37363187/196915565-6f783152-9540-4941-8d9b-9f4e34fef198.png)

[2022-10-20 09:48] zj-kenzhou commented on #314
thank you!

[2022-10-20 09:48] #314 closed

[2022-10-23 02:17] BaiZe1998 opened #319 "✨ support cache extension"
## Is your feature request related to a problem? Please describe.

- Elegantly support cache

## Additional context

refer to:

- https://github.com/gin-contrib/cache
- https://github.com/gofiber/fiber/tree/master/middleware/cache

[2022-10-23 02:25] BaiZe1998 commented on #319
please assign me, :)

[2022-10-23 02:42] li-jin-gou commented on #319
thanks

[2022-10-24 14:12] byene0923 opened #320 "fix: ignore body should not set content-length"
**Describe the bug**

refer to fasthttp https://github.com/valyala/fasthttp/pull/1019 and https://github.com/valyala/fasthttp/pull/1022

[2022-10-25 08:23] hiqsociety opened #323 "got status code warning BUT dunno where the status code is set in the program."
[code]
ok so i got this code but now i dunno where to find where the code comes from. can pls have something to trace where the calling of header.go originates? thx

[2022-10-25 08:39] li-jin-gou commented on #323
When we use `ctx.Json` or `ctx.Html`  to set an illegal http status code, if  http status code > 10000 or code < 100, it will print warning log.

such as:
[code]

[2022-10-25 14:11] #255 closed

[2022-10-26 02:59] #323 closed

[2022-10-26 03:50] armyhcz commented on #277
系统cpu版本: ubtuntu  4  Intel(R) Pentium(R) Gold G5400 CPU @ 3.70GHz
引入版本: github.com/cloudwego/hertz v0.3.2
还是有这个问题

[2022-10-26 14:07] BaiZe1998 commented on #161
i want to try it, please assign me.

[2022-10-27 02:37] radioinmyhead opened #324 "Embedding static files with StaticFS"
I have some static files that need to be downloaded, such as `*.js`  or `*.html`, and I want to embed them in the go binary with StaticFS to simplify my deployment.

I would like to make StaticFS work with "go embed", but that is different from hertz's current design.

The function definition of StaticFS is `func (group *RouterGroup) StaticFS(relativePath string, fs *app.FS) IRoutes `. The `app.FS

[2022-10-27 11:55] ho-z opened #326 "api document support"
api document support

[2022-10-27 11:57] #326 closed

[2022-10-27 11:57] ho-z commented on #326
already existing

[2022-10-27 14:28] li-jin-gou commented on #326
https://www.cloudwego.io/docs/hertz/

[2022-10-28 10:49] byene0923 opened #334 "feat: chunk-extension support"
**Is your feature request related to a problem? Please describe.**

will hertz support support chunk-extension? [chunk-extension rfc](https://www.rfc-editor.org/rfc/rfc9112#name-chunk-extensions)

**Additional context**

now hertz  [parseChunkSize](https://github.com/cloudwego/hertz/blob/develop/pkg/common/utils/chunk.go#L45) skip the whitespace and check the '\r',

[2022-10-29 11:17] jnelle opened #336 "High CPU usage in idle and random CPU spikes"
**Describe the bug**

I moved yesterday my backend (written in fiber) to hertz. Afterwards I deployed it at Digitalocean on the [app platform](https://www.digitalocean.com/products/app-platform) as a Docker container. After the deployment I noticed a high CPU usage and random CPU spikes, which was obviously weird, because I haven't sent any request to the deployed service

**To Reproduce**

Steps

[2022-10-29 12:52] li-jin-gou commented on #336
Thank you for trust and i think this phenomenon is strange and it happens randomly. If we could have pprof sampling of the cpu, I believe the problem would be very well investigated. but the normal pprof does not work so much that we can use [holmes](https://github.com/mosn/holmes) to do pprof of the cpu and It supports triggered acquisition.

[2022-10-29 18:24] byene0923 commented on #201
I have almost  finish it，however，i found it a bit difficult to test. i don't find the example of chunked in [hertz-example](https://github.com/cloudwego/hertz-examples) and i think there may be some problem in streaming test, i pull a issue [here](https://github.com/cloudwego/hertz-examples/issues/44)

[2022-10-31 02:13] huasongleecn commented on #73
贪玩游戏: 中国领先的互联网游戏公司，一直秉承着“找回年少时贪玩的你”的品牌理念，致力于成为全球领先的轻娱乐价值服务缔造者，服务全球数亿用户。
场景需要一套高可靠、低时延、能应对突发暴增流量 的系统支持，我们选择了Hertz。

Organization/Company: 贪玩游戏
Country: 中国(China)
Contact: [hr@tanwan.com](mailto:hr@tanwan.com)
Usage scenario: 基于Hertz的微服务系统 Using Hertzto build HA tools and systems
Status: 生产环境 (Production)

[2022-10-31 13:01] Duslia commented on #206
@hiqsociety The HTTP2 PR has been created and http3 is on the way. Welcome to review and try out HTTP2.
PR: https://github.com/cloudwego/hertz/pull/283
Usage: https://github.com/Duslia/hertz/tree/feat/h2/examples

[2022-11-01 05:14] cposture opened #340 "cross compile fail"
**Describe the bug**

occur error when cross-compiling on mac.

**To Reproduce**

Steps to reproduce the behavior:

[code]

[2022-11-01 06:37] welkeyever commented on #340
Seems like the two libs listed above do not support `arm` GOARCH but `arm64` is OK.
If there is a strong demand on `arm` you may create an ISSUE at these two libs to check whether there is a way for this case to work.

[2022-11-01 15:42] kolinfluence opened #342 "is there a prefork mode?"
is there a prefork mode?

[2022-11-02 14:30] jnelle commented on #336
Hi, gonna do it this weekend!

[2022-11-02 15:04] klauspost opened #343 "Use better gzip/deflate"
The standard library is more interested in maintaining status quo than improving compression.

I maintain a [compression package](https://github.com/klauspost/compres) that seems more suited to Hertz. It plugs in without any modifications, by simply replacing imports.

Below is a comparison between my package and the standard library, using [4GB of mixed web content](https://files.klauspost.com/co

[2022-11-02 15:31] li-jin-gou commented on #343
thanks @klauspost I think it's a great idea. What do you think? @welkeyever  @Duslia @FGYFFFF

[2022-11-03 03:23] welkeyever commented on #343
Sounds great! Really appreciate it, we will look into it~

[2022-11-03 03:42] #320 closed

[2022-11-03 12:06] CarlCao17 commented on #257
I can try pkg/protocol/http1~

[2022-11-03 12:08] li-jin-gou commented on #257
thanks

[2022-11-03 12:51] L2ncE opened #346 "Modify interface check way."
**Is your feature request related to a problem? Please describe.**

I see that the interface checking in Hertz is the following way.

eg:
[code]

However, in general `&SomeType{}` will allocate and initialise a new value (unless the compiler detects and optimises it out) where-as `(*SomeType)(nil)` will never do any allocation. I think there's no need to initialise a new value to validate interfac

[2022-11-03 13:04] li-jin-gou commented on #346
I think it is OK and welcome PR.

[2022-11-04 08:30] Nyx2022 opened #349 "请求错误"
**Describe the bug**

请求之后返回错误：
the server closed connection before returning the first response byte. Make sure the server returns 'Connection: close' response header before closing the connection

**To Reproduce**

某些网站会出现这种问题

[2022-11-04 08:33] li-jin-gou commented on #349
There is not enough information to help us answer this question. I don't even know how the code is written and whether you are using a client or a server. 😩

[2022-11-05 08:00] Duslia commented on #165
https://github.com/hertz-contrib/http2/pull/1

[2022-11-05 08:02] Duslia commented on #349
It's because the server closes the connection unexpectedly. You can check whether your request is a valid request.

[2022-11-06 10:59] #349 closed

[2022-11-06 10:59] #275 closed

[2022-11-06 11:00] #222 closed

[2022-11-08 03:11] errocks commented on #343
I'm working on an object storage project , this sounds interesting, can I try this?

[2022-11-08 06:30] welkeyever opened #355 "docs(README): add more blog links to README.md"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**

Since more and more hertz-related posts are posted on [cloudwego.io](https://www.cloudwego.io), the `Post` chapter under README needs to update.

Add hertz-related blog links to README according to https://www.cloudwego.io/zh/blog/news/.

**Describe alternatives you've considered**

A clear

[2022-11-08 11:19] #346 closed

[2022-11-09 13:13] Hanson commented on #107
same problem.  https://github.com/cloudwego/hertz/issues/107#issuecomment-1171117293 couldn't help

[2022-11-09 13:29] FGYFFFF commented on #107
升级最新版本，有优化

From: ***@***.***>
Date: 11月9日 (周三) 21:00
Subject: [External] Re: [cloudwego/hertz] run `hz` to generate api in
windows ,fails with relativePath (Issue #107)
To: ***@***.***>
Cc: ***@***.***>, "Mention"<
***@***.***>

besides,the hz tool require admin privilege .when I run command in a
non-admin console F:\go\xxx>hz update -I idl -idl idl/hello/hello.proto
build plugin command failed:

[2022-11-10 01:45] L2ncE opened #358 "Add more load balance algorithms"
**Is your feature request related to a problem? Please describe.**

In Hertz, our load balance algorithm only implements weight random. I think it is necessary to support more algorithms.

**Describe the solution you'd like**

Support more algorithms.

[2022-11-10 06:06] kyoukaya opened #359 "HostClient.Do Content-Type defaults to application/x-www-form-urlencoded"
**Describe the bug**

In the absence of a specified Content-Type, the Content-Type as sent by `HostClient.Do` defaults to `application/x-www-form-urlencoded` in [RequestHeader.AppendBytes](https://github.com/cloudwego/hertz/blob/8864a2a92b338be9ed9405aab0099293390b8cbf/pkg/protocol/header.go#L372:L374):
[code]

**To Reproduce**

[code]

**Expected behavior**

The expected behaviour would be to **n

[2022-11-10 06:16] li-jin-gou commented on #359
I've also seen this rfc, but it doesn't explicitly say not to set the content-type.

[2022-11-10 06:24] kyoukaya commented on #359
If the intention is to offer curl-like capabilities, can there be an option to omit it similarly then?
[code]

[2022-11-10 06:30] li-jin-gou commented on #359
This is just an example I gave because I don't think this is a bug.

[2022-11-10 06:38] kyoukaya commented on #359
Agreed, I will reopen this as a feature request then.

[2022-11-10 06:38] #359 closed

[2022-11-10 06:50] kyoukaya opened #360 "Disable Default Content-Type for HTTP Requests"
**Is your feature request related to a problem? Please describe.**

When sending a HTTP request, hertz will always send a `Content-Type` header, if the value was not specified by the user, it will default to `application/x-www-form-urlencoded`.

**Describe the solution you'd like**

I think the solution posed in this fasthttp issue comment is reasonable. https://github.com/valyala/fasthttp/issues/

[2022-11-10 07:00] welkeyever commented on #360
Sounds reasonable, hertz server also has this field(ResponseHeader).
Add it in RequestHeader will work on the client side.
Would you like to submit a pr? Or I will put it into the task pools.

[2022-11-10 07:28] kyoukaya commented on #360
Sure, I'll put in a PR.

[2022-11-10 07:42] li-jin-gou commented on #360
thanks

[2022-11-14 04:22] morebuff opened #368 "恳请context里面加个GetUint64(key string)方法"
从gin重构的hertz，恳请在context上加个GetUint64(key string)方法

[2022-11-14 06:43] li-jin-gou commented on #368
I think the Get*** method could be added.

[2022-11-14 08:47] justlorain commented on #368
Please assign me if nobody works on this.

[2022-11-15 11:34] #355 closed

[2022-11-15 11:48] #368 closed

[2022-11-15 13:59] gityh2021 commented on #257
I wanna try pkg/protocol/multipart.go.

[2022-11-16 02:30] Duslia opened #377 "Request help: Improve documentation of `writeTimeout`"
In https://github.com/cloudwego/hertz/pull/344, we support writeTimeout in client and server. It not only support client and server level configuration but also support request level configuration. Could you please help me improve the doc?

cloudwego link: https://www.cloudwego.io/zh/docs/hertz/reference/config/
en: https://github.com/cloudwego/cloudwego.github.io/blob/main/content/en/docs/hertz/r

[2022-11-16 12:32] sujit-baniya opened #378 "[BUG] - Hello World not working"
**Describe the bug**

I've tried to use Hello World code but it's not working. The browser keeps loading and the engine throws EOF error

[code]

Error:
[code]

[2022-11-16 12:40] li-jin-gou commented on #378
Hello @sujit-baniya  can you provide a way to access it, such as a curl command?

[2022-11-16 12:41] sujit-baniya commented on #378
@li-jin-gou I was trying on local with just above code, nothing else. Not sure if I needed something else.

[2022-11-16 12:46] sujit-baniya commented on #378
https://www.loom.com/share/5df23e5e055e4fd6875fd6d6f591fbb3

[2022-11-16 12:46] li-jin-gou commented on #378
I assume you are using https to access it, but you actually need to use http .

[2022-11-16 12:52] li-jin-gou commented on #378
cc @sujit-baniya

[2022-11-16 13:28] sujit-baniya commented on #378
ah! it was using https unknowning :). Thanks for pointing it out

[2022-11-16 13:31] #378 closed

[2022-11-16 14:37] hiqsociety commented on #206
ok. will do so! thx! keep it up.

[2022-11-17 00:23] #358 closed

[2022-11-17 03:30] GuangmingLuo commented on #281
hi, any progress of this? @Haswf

[2022-11-17 05:56] biuaxia opened #379 "[问题] 请教下如何给分组路由添加 CORS"
如题，我想给不同的分组添加 CORS 策略。

比如：

[code]

我想要将 v2 所有的路由进行 CORS 放行。

我尝试过：

[code]

通过 postman 查看响应头，并没有预期的 header。

![image](https://user-images.githubusercontent.com/46131142/202367836-d5a8f83a-e29c-4675-b3c1-585f1e985938.png)

[2022-11-17 05:59] li-jin-gou commented on #379
refer to  https://www.cloudwego.io/zh/docs/hertz/tutorials/basic-feature/middleware/cors/ && PATL @BaiZe1998

[2022-11-17 06:05] li-jin-gou commented on #379
Please make sure your request is a  `CORS request` cc @biuaxia

[2022-11-17 06:19] #379 closed, assigned to nobody

[2022-11-17 07:57] FGYFFFF opened #381 "Proposal: hz supports generating handy RPC-style client code based on IDL"
**Proposal**

`hz` supports generating hertz client code. All opinions on the user side are worth considering❤️.

**Current Template(Opinions are all welcome)🤗**

- The initial client template that has been designed so far: [client template](https://github.com/cloudwego/hertz/blob/example/hz_client_template/cmd/hz/example/biz/model/cloudwego/hertz/template/hertz/client.go).
- Generate client code

[2022-11-17 16:36] hiqsociety opened #385 "sry to ask here, regarding shmipc"
i cant seem to find shmipc as mentioned on open source not on cloudwego or bytedance github repo.
https://www.cloudwego.io/blog/2021/09/13/cloudwego-open-source-announcement/

possible to show where the repo is? thx in advance.

[2022-11-17 20:57] ultperf commented on #165
@Duslia i was trying to test this but can you provide an example for letsencrypt in your repo?
i'll be testing out in real production traffic.

my letsencrypt previous config is
[code]

with reference here, not sure how to do letsencrypt with http2 coz i saw the http/1.1 and not sure how to make it http2 etc. can u pls provide example and expand on the above? thx.
https://github.com/Duslia/hertz/b

[2022-11-17 23:04] hiqsociety opened #386 "fasthttp "adapter" / "converter" example needed for faster testing / debug"
i am converting from fasthttp and using fasthttp reverse proxy, however would like to slowly transition to hertz completely BUT possible to provide a "converter" / "adaptor" solution from fasthttp to hertz and vice versa?

e.g.

[code]
how do i match ctx.Request and ctx.Response to the below?
rationale, fasthttp doesnt hv http2, i'm testing http2 on production server just to see if it works first

[2022-11-17 23:08] hiqsociety commented on #385
ok thx. shld i leave it open until shmIPC is out? :)

[2022-11-18 02:09] li-jin-gou commented on #385
I think so.

[2022-11-18 03:02] bengol commented on #385
does the design & develop of shmIPC is in plan ?

[2022-11-18 03:05] welkeyever commented on #386
It is recommended to build directly with hertz's api.
Translation means one more overhead, which has a lot of pressure on both performance and memory

[2022-11-18 03:23] welkeyever commented on #385
shmIPC is implemented under the design of network abstract interface, which is used to communicate with service mesh proxy in Bytedance(not yet open source).
Maybe you can tell us your usage scenario about shmIPC? This part of the input is relatively small.

[2022-11-18 06:54] hiqsociety commented on #386
yes i understand. but for the purpose of testing can u pls provide instructions on how to "convert"?

e.g.
[code]

[2022-11-18 08:42] welkeyever commented on #386
Thanks for reminding🙏, actually we are currently doing this kind of migration guide - first stage: help Gin/FastHTTP projects.

May you offer some progress of this job❤️? @li-jin-gou

[2022-11-18 09:30] hiqsociety commented on #386
i think i can help do the translation but can u just help chk if all directions of migration from fasthttp will be about the same as hertz or any edge case?
i only have one area i think not sure.
ctx.Hijack() <- will this be the same too?

[2022-11-18 09:54] li-jin-gou commented on #386
Yes, I've recently been working on automating the migration of users from fasthttp/gin to hertz, and the API interface is still being sorted out.

[2022-11-18 11:06] hiqsociety commented on #385
shmIPC for better inter process transfer speed that's all.

[2022-11-18 11:12] hiqsociety commented on #386
ok. i will try to update all instances then. thx. will inform if i found any issues of compatibility. do mention how i can contribute to this "api" compatibility issue.

keep up the great work!

[2022-11-18 11:17] li-jin-gou commented on #386
We can add lark as a friend for easy communication!

[2022-11-18 12:26] hiqsociety commented on #386
one last question before i close this comment,
how do i route map to fasthttp for quick testing first.
i'm using .Any() <- is this the best way for routing anything / everything?

can u give a quick guidance / thumbs up? coz if it's up to me i will do...
	ctxTemp := &fasthttp.RequestCtx{}

[code]
//func ProxyHandler(ctx *fasthttp.RequestCtx) {}

[2022-11-18 12:30] hiqsociety opened #391 "how "production ready" is hertz framework?"
1. i know it's used in bytedance but is it 100% all used or this is just a sub-testing framework?
2. can this be used in real production scenario?

[2022-11-18 12:32] li-jin-gou commented on #391
It is being used by tens of thousands of services.

[2022-11-18 13:08] li-jin-gou commented on #386
It's true.

[2022-11-18 13:49] hiqsociety commented on #386
@li-jin-gou
can u give an idea how to return the response from fasthttp to hertz?
because most i see is c.String(consts.StatusOK, "body") // <- is this the way? so c.Response have to be mapped too? right?

[2022-11-18 15:40] ultperf opened #392 "any Handler function example?"
the equivalent of
[code]

only saw the below but doesnt say how to "Load" <- how does this function look like? same as fasthttp above?
https://www.cloudwego.io/zh/docs/hertz/tutorials/basic-feature/route/

[code]

[2022-11-18 18:47] ultperf opened #393 "any ways to remove server name header response without editing the internal code?"
any ways to remove server name header response without editing the internal code or change to something else?

[2022-11-18 20:22] ultperf opened #394 "what's the equivalent for HijackSetNoResponse() ? just curious. else is it needed?"
what's the equivalent for HijackSetNoResponse() ? just curious. else is it needed?
[code]

[2022-11-18 20:38] ultperf opened #395 "fasthttp's ctx.Request.Header.VisitAllCookie(func(k, v []byte) {} and VisitAllHeader"
fasthttp's		ctx.Request.Header.VisitAllCookie(func(k, v []byte) {} and VisitAllHeader

possible to include into hertz? i'm missing these features for a complete migration / transition from fasthttp to hertz. thx.

[2022-11-18 20:44] ultperf opened #396 "ctx.PostArgs().Peek() <- can't find examples online but what's the equivalent of fasthttp?"
also
ctx.Response.Header.Peek()
ctx.Request.Header.Peek()

thx in advance

[2022-11-18 20:51] ultperf opened #397 "a few questions, coming from fasthttp"
works on fasthttp but not working on hertz
1. cannot use ctx.ClientIP() (value of type string) as type net.IP in argument to

2. cannot use ctx.ClientIP() (value of type string) as type net.IP in argument to

how to resolve or convert or use equivalent?

[2022-11-19 01:59] Duslia commented on #392
I think this is just grammar sugar and you can implement it in your code

[2022-11-19 02:00] Duslia commented on #397
net.ParseIP(ctx.ClientIP())

[2022-11-19 02:02] Duslia commented on #396
Maybe you can give more examples about fasthttp?

[2022-11-19 02:04] Duslia commented on #395
There are these two functions in Hertz: `ctx.Request.Header.VisitAllCookie(), ctx.Request.Header.VisitAll()`
Please read the doc or try by yourself

[2022-11-19 02:09] Duslia commented on #393
Before return handler, use `ctx.Response.Header.SetServerBytes(nil)` to SetServerBytes nil

[2022-11-19 02:39] li-jin-gou commented on #396
@ultperf  Yes

[2022-11-19 02:39] #396 closed

[2022-11-19 02:48] li-jin-gou commented on #386
It is recommended to build directly with hertz's api.
Translation means one more overhead, which has a lot of pressure on both performance and memory.

[2022-11-19 02:51] li-jin-gou commented on #395
I've been working on the detailed documentation recently but it's so much that I've been slow in getting it done, so I'll let you know if it's finished.

[2022-11-19 02:53] #395 closed

[2022-11-19 05:51] ultperf commented on #395
@Duslia can u point me to the documentation? i dunno why i cant find it. i think i checked in "app" not sure where the functions u meant are. i will download the whole repo and do search within but pls mention which doc i need to reference. thx

[2022-11-19 05:55] Duslia commented on #395
@ultperf
[code]

[2022-11-19 05:56] Duslia commented on #395
@ultperf Here is all the API: https://pkg.go.dev/github.com/cloudwego/hertz. You can refer to this doc

[2022-11-19 05:58] Duslia commented on #395
https://pkg.go.dev/github.com/cloudwego/hertz@v0.4.1/pkg/protocol#RequestHeader

[2022-11-19 10:36] ultperf opened #398 "need help testing http2 but "stuck" at reverse proxy handling"
by the way, so far http2 seems ok. i'm trying to test more use case now for reverse proxy.
sorry i'm too new with hertz and too used to fasthttp so mind is stuck at fasthttp understanding

same question asked in https://github.com/hertz-contrib/reverseproxy/issues/9
this repo
https://github.com/Duslia/hertz
does not have "issue" section option on the github repo to ask, so asking here

this is how

[2022-11-19 10:54] ultperf commented on #397
ok thx

[2022-11-19 10:54] #397 closed

[2022-11-19 10:54] ultperf commented on #394
ok thx. it's fine. i can do without set no response

[2022-11-19 10:54] #394 closed

[2022-11-19 11:09] ultperf commented on #393
ok thx

[2022-11-19 11:09] #393 closed

[2022-11-19 11:16] Duslia commented on #398
The essence of a reverseProxy is client and reverseProxy provide a api to setClient. You can init a  HTTP2 Client and set it to reverseProxy.

[2022-11-19 11:47] ultperf opened #399 "stuck at "Cookie" at conversion from hertz to fasthttp and vice versa."
1st try temp conversion of hertz to fasthttp req and vice versa for resp.

stuck at "Cookie"

possible to suggest what else i'm missing?

[code]
sorry but a bit new to this... how do i set returned cookies from fasthttp to "Cookie"?

[code]

[2022-11-19 12:15] li-jin-gou commented on #399
Hello @ultperf  Why not just copy the response header?
refer to https://github.com/cloudwego/hertz/blob/develop/pkg/app/context.go#L1000,It appears to be very well annotated.

[2022-11-19 12:17] li-jin-gou commented on #398
refer to https://www.cloudwego.io/docs/hertz/tutorials/basic-feature/proxy/#reverse-proxy

[2022-11-19 12:18] li-jin-gou commented on #398
It looks like we need to add the H2 documentation to the official documentation as well. cc @Duslia

[2022-11-19 12:20] li-jin-gou commented on #392
In the routing example we can add this example.

[2022-11-19 12:31] ultperf commented on #399
can u pls help just provide the code for fasthttp getcookie to setcookie for hertz?
coz i dont really know how to port or migrate to that.
i've seen the link u sent but i seem to need to extract so many things from fasthttp?

[2022-11-19 12:32] li-jin-gou commented on #399
Set the header directly

[2022-11-19 12:34] ultperf commented on #398
@Duslia it all seemed and sounded very easy to you without example written.
i seem to get what u mean but actually i not too sure how to provide a http2 client and set it to reverseproxy that is. :I maybe there shld be a default method for this i guess.

possible to provide a quick example or some guidance?

[2022-11-19 12:37] ultperf commented on #399
@li-jin-gou i normally dont do that so i dunno how to set the header directly. i always thought u need to do a VisitAllCookies() kind of thing.

can u provide the example for fasthttp to getcookie header to hertz?

if i have to guess.

ctx.Header.Set("Cookie", ctxFasthttpTemp.Header.Peek("Cookie")) <- like this?

[2022-11-19 12:37] li-jin-gou commented on #399
use https://github.com/cloudwego/hertz/blob/develop/pkg/protocol/cookie.go#L350 💕

[2022-11-19 12:42] li-jin-gou commented on #399
My opinion is to use hertz directly. refer to https://github.com/cloudwego/hertz/issues/386#issuecomment-1320763519

[2022-11-19 15:55] li-jin-gou commented on #398
refer to https://github.com/cloudwego/hertz-examples/blob/main/reverseproxy/discovery/discovery/main.go#L41

refer to https://www.cloudwego.io/docs/hertz/tutorials/basic-feature/proxy/#reverse-proxy

[2022-11-19 18:33] ultperf commented on #399
last bit of help pls.

it's not easy to convert everything to hertz immediately. i am testing and trying out http2 for now.
how do i set the cookie from ctxTemp (fasthttp) response to ctx (hertz)?
pls help out this. shld be the last part. sorry i not very well verse with this cookie part.
[code]

[2022-11-19 18:46] ultperf commented on #342
thx

[2022-11-20 05:51] li-jin-gou commented on #398
First you need to know how to initialise a Hertz Client, and ReverseProxy provides SetClient .

[2022-11-20 06:17] Duslia commented on #398
Please refer line 37 - 40 to init a HTTP2 client: https://github.com/hertz-contrib/http2/blob/030e2b6768b99393d9b22c78f58824cdf9e85286/examples/h2/main.go#L37

<img width="700" alt="image" src="https://user-images.githubusercontent.com/37136584/202888744-00ebb693-bae7-4efa-8a7e-ae7b515109c6.png">

[2022-11-20 06:51] ultperf commented on #399
i want to use hertz directly but there is too many things to be converted at the moment. i wish to try out the http2 first. so far all things are ok except the reverse proxy part and cookie.

so pls help out this first and i think the rest i can slowly transition.

[2022-11-20 06:55] justlorain commented on #392
I'd like to try it.

[2022-11-20 06:56] L2ncE commented on #392
thx❤️

[2022-11-20 06:59] Duslia commented on #392
The speed of replying issues is so fast😂

[2022-11-20 12:26] sujit-baniya opened #400 "[QUESTION] - Static function not working properly"
I'm trying to serve css/js and other assets using `Static(relativePath, root string)` in html file but it doesn't seem to work properly.

I've this code
[code]

In example directory I've this setup
![image](https://user-images.githubusercontent.com/4959215/202901700-a247ca4f-54ac-4f86-bc4a-12b7efbf8727.png)

Since I used prefix `/file`, I tried to use `<link rel="stylesheet" href="/file/css/style.

[2022-11-20 14:01] ultperf commented on #399
possible to provide a conversion solution pls? this is not working. why?
[code]

[2022-11-20 14:09] L2ncE commented on #400
You can refer to https://github.com/cloudwego/hertz-examples/tree/main/file/staticFile

[2022-11-20 14:24] L2ncE commented on #400
You did not create the `file` folder
[code]

[2022-11-20 14:26] sujit-baniya commented on #400
@L2ncE I tried to use "/file" as alias for "./public" folder. So, I tried using `h.Static("/file", "./public")`.

Please suggest how can I access the files in such case. I used the example from above link

[2022-11-20 14:35] L2ncE commented on #400
Seeing your error I think you just need this.

![image](https://user-images.githubusercontent.com/92938836/202908141-f87d39f0-d76f-4eac-bb09-7598c287e3c9.png)

Or do you just hope that he can get it through `./public/css/style.css`

[2022-11-20 14:45] sujit-baniya commented on #400
@L2ncE Check this video please: https://www.loom.com/share/157df15ebdb0430abb677d2c44da8391

Here, I used the code from the example but still it's not working.

[2022-11-20 14:55] sujit-baniya commented on #400
Also I'm little bit confused on use of `relativePath` in

[code]
If I use

[code]
Does `/file` represent
- sub directory inside `public` directory i.e. `./public/file`
- alias/route of `./public` directory so that `/file` could be used as handler

[2022-11-20 15:22] li-jin-gou commented on #400
sub directory inside public directory i.e. ./public/file

[2022-11-20 15:26] sujit-baniya commented on #400
Isn't it somewhat wrong? I suppose the relativePath makes more sense to have it as an alias/route prefix, something similar to what gofiber does https://docs.gofiber.io/api/app#static

[2022-11-20 15:36] li-jin-gou commented on #400
Let me explain:

- The difference is that the PathRewrite logic of FS is the same.

Fiber
https://github.com/gofiber/fiber/blob/master/router.go#L340
[code]

Hertz:
https://github.com/cloudwego/hertz/blob/develop/pkg/app/fs.go#L803

[code]

If you want to be consistent with the behavior of the fiber, use the same `PathRewrite`.

[2022-11-20 15:40] ultperf opened #402 "question regarding handler + reverse proxy"
how do i pass ctx request to reverseproxy?
how do i return ctx response of what reverseproxy returns?

i'm not sure how to pass ctx to reverse proxy etc because in fasthttp it's just a simple &ctx or *ctx copy around but how does this work with hertz?

with reference below. sorry, if i can figure out then i guess conversion is easier.

[code]

[2022-11-20 15:51] sujit-baniya commented on #400
Ah! got it working with PathRewrite

[2022-11-20 15:53] li-jin-gou commented on #400
Thanks for the good questions.

[2022-11-20 16:03] sujit-baniya commented on #400
I made some changes in `Static` function to make it work for me

[code]

[2022-11-20 16:07] li-jin-gou commented on #400
I think this example https://github.com/cloudwego/hertz-examples/tree/main/file/staticFile is too simple, would you like to add more examples to it?  cc @sujit-baniya

[2022-11-20 16:10] li-jin-gou commented on #400
A complete demo containing html and css.

[2022-11-20 16:15] li-jin-gou commented on #392
@justlorain  thanks

[2022-11-20 16:15] #392 closed

[2022-11-20 16:34] li-jin-gou commented on #402
not support and you can refer to https://www.cloudwego.io/docs/hertz/tutorials/basic-feature/proxy/#reverse-proxy and use `SetDirector` and  `SetModifyResponse`

[2022-11-20 16:36] sujit-baniya commented on #400
@li-jin-gou Sure let me do it tomorrow morning. Do you think we should add third param in `Static()` as config similar to the way I did?

[2022-11-20 16:40] li-jin-gou commented on #400
I think we should just add the sample code from example. https://github.com/cloudwego/hertz-examples/tree/main/file/staticFile,  and This example code is now too simple.

`add third param in Static() as config` is break change,So much so that I prefer to refine the example first.

[2022-11-20 17:25] sujit-baniya commented on #400
PR created

[2022-11-20 21:20] ultperf commented on #402
@li-jin-gou can you provide an example of how to transfer from the reverse proxied results to the current h.Use() handler?
what's the ideal way to get the "fastest" response from the reverse proxy with/without the handler function?

[2022-11-21 03:16] li-jin-gou commented on #402
cc @Skyenought

[2022-11-21 07:05] #400 closed

[2022-11-21 07:06] li-jin-gou commented on #400
thanks

[2022-11-21 07:31] ultperf commented on #402
i just realised i cannot do/use http2 + reverse proxy together

[2022-11-21 07:34] justlorain commented on #399
try this, maybe will work

[code]

[2022-11-21 08:21] li-jin-gou commented on #257
thanks

[2022-11-21 09:00] mamil commented on #257
I wanna try pkg/app

[2022-11-21 09:40] li-jin-gou commented on #257
thanks, welcome to contact me  and I will pull you into the Hertz Sig group.

[2022-11-21 10:59] ultperf commented on #399
@justlorain it's not working

[2022-11-21 12:16] sujit-baniya opened #406 "[QUESTION] - How can I parse query string to struct?"
Is there any way I could parse query string from `ctx.QueryArgs()` to struct?

[2022-11-21 12:18] li-jin-gou commented on #406
refer to https://www.cloudwego.io/docs/hertz/tutorials/basic-feature/binding-and-validate/#supported-tags

[2022-11-21 13:01] sujit-baniya commented on #406
Thank @li-jin-gou

[2022-11-21 13:01] #406 closed

[2022-11-21 13:46] ultperf commented on #206
@Duslia pls provide the instructions for both http2 server and reverse proxy http2 client. thx

[2022-11-21 13:54] li-jin-gou commented on #402
[code]

[2022-11-21 13:57] li-jin-gou commented on #398
Please refer line 37 - 40 to init a HTTP2 client: https://github.com/hertz-contrib/http2/blob/030e2b6768b99393d9b22c78f58824cdf9e85286/examples/h2/main.go#L37
[code]

[2022-11-21 13:57] #398 closed

[2022-11-21 14:18] ultperf opened #407 "how do i pass ctx.ClientIP(), ctx.Host() to reverse proxy SetDirector? how do i pass ctx basically to reverse proxy?"
how do i pass ctx.ClientIP(), ctx.Host() to reverse proxy SetDirector? how do i pass ctx basically to reverse proxy?
[code]
with ref to this https://github.com/cloudwego/hertz/issues/402

[2022-11-21 14:22] li-jin-gou commented on #407
cc @BaiZe1998

[2022-11-21 14:29] li-jin-gou commented on #407
why not use direct `rp.ServeHTTP` ???

[2022-11-21 14:31] #407 closed

[2022-11-21 14:34] li-jin-gou commented on #402
same to https://github.com/cloudwego/hertz/issues/407

A slight adjustment to its logic is all that is required. however, I would like to remind you that you need to read the documentation yourself and we will add examples where possible.

[2022-11-21 14:35] li-jin-gou commented on #402
I think this example needs to be added.

[2022-11-21 15:06] zstone12 commented on #402
please assign to me.

[2022-11-21 15:08] li-jin-gou commented on #402
thanks

[2022-11-21 16:32] justlorain commented on #399
This will only set an empty cookie, I think you need to use these [Set functions](https://github.com/cloudwego/hertz/blob/develop/pkg/protocol/cookie.go#L161) to set your cookie manually, here is a [example](https://github.com/cloudwego/hertz-examples/blob/main/parameter/cookie/main.go), hope this will help you.

[2022-11-21 17:18] justlorain commented on #399
@ultperf Sorry, it seems that I misunderstand this code. The `Parse` should be called in the `VisitAllCookie` like following:
[code]

[2022-11-21 17:36] #399 closed

[2022-11-21 17:45] ultperf commented on #399
@li-jin-gou can u see that his FastHttpctx is the one using the visitallcookie but hertzctx does not touch "key" anywhere?

[2022-11-21 17:46] li-jin-gou commented on #399
value contains key

[2022-11-21 18:00] ultperf opened #408 "missing "http2/config" conf locations, pls chk repo."
https://github.com/Duslia/hertz/blob/feat/h2/examples/h2/main.go
        "github.com/cloudwego/hertz/pkg/protocol/http2/config"

https://github.com/hertz-contrib/http2/blob/030e2b6768b99393d9b22c78f58824cdf9e85286/examples/h2/main.go#L37
	"github.com/hertz-contrib/http2/config"

with ref to https://github.com/cloudwego/hertz/issues/402

[2022-11-21 18:07] li-jin-gou commented on #408
go get can specify a branch. you should use `feat/http2_support` branch. thanks

[2022-11-21 18:08] ultperf opened #409 "running "wrk" gives readv(fd=10) failed: connection reset by peer"
running
wrk -t 2 -c 100 -d 2 http://127.0.0.1:8888/
gives
[code]
[code]

[2022-11-21 18:09] li-jin-gou commented on #408
We will be merge HTTP2 so that it will be smooth to use. cc @Duslia

[2022-11-21 18:11] ultperf commented on #408
@li-jin-gou sorry i dont understand
what feat/http2_support? <- what's the exact url to this?
[code]

[2022-11-21 18:14] li-jin-gou commented on #409
refer to https://github.com/cloudwego/hertz-benchmark/issues/5

[2022-11-21 18:18] li-jin-gou commented on #408
it is https://github.com/hertz-contrib/http2/tree/feat/http2_support

[2022-11-21 18:33] li-jin-gou commented on #408
go get github.com/hertz-contrib/http2@feat/http2_support

[2022-11-21 18:34] ultperf commented on #408
go get -u github.com/hertz-contrib/http2@feat/http2_support

[code]

[2022-11-21 18:48] ultperf commented on #408
i did
[code]
doesnt work too...

[2022-11-22 03:24] Duslia commented on #408
Now HTTP2 has been merged to main branch. But it depends on the `feat/http2_adapt` branch in the Hertz repo. If you want to use it, please execute the demand following:
[code]

[2022-11-22 03:32] ultperf commented on #408
@Duslia just got this issue. how to resolve?
go get github.com/cloudwego/hertz@feat/http2_adapt
go: github.com/cloudwego/hertz@feat/http2_adapt: invalid version: version "feat/http2_adapt" invalid: disallowed version string

[2022-11-22 03:35] Duslia commented on #408
go get github.com/cloudwego/hertz@2def49cd876c70c39cd198bb59716f568e45d08d

[2022-11-22 03:36] Duslia commented on #408
Could we contact by lark or slack? It is more convenient.

[2022-11-22 05:42] li-jin-gou commented on #408
+1 ❤️
You are seriously experiencing and using Hertz's HTTP2, we encourage this behaviour and will help you to use it.

[2022-11-22 07:54] ultperf commented on #408
ok. i will try to install lark soon coz my mobile space limited. next question will use lark

[2022-11-22 07:57] li-jin-gou commented on #408
github's issue also OK❤️

[2022-11-22 08:03] ultperf commented on #408
ok i'm having this now
[code]

i joined slack but i will finish this one here coz others can reference here and can complete this.

[2022-11-22 08:21] Duslia commented on #408
There is no need to depends on github.com/Duslia/hertz

[2022-11-22 09:30] Duslia commented on #408
please refer to the example : https://github.com/hertz-contrib/http2/blob/main/examples
<img width="738" alt="image" src="https://user-images.githubusercontent.com/37136584/203277582-21beb5db-996e-48a1-8c3a-dd640f3ac885.png">

[2022-11-22 10:28] ultperf commented on #408
these two only. how to...?
[code]

[2022-11-22 11:55] Duslia commented on #408
Just use the latest example. Now no `WithALPN` option. Please follow: https://github.com/hertz-contrib/http2/blob/main/examples

[2022-11-22 12:39] li-jin-gou commented on #381
I think we should also support not using the Go-Moudle‘s case.

[2022-11-22 13:24] ultperf commented on #408
cannot use client.WithTLSConfig(&tls.Config{…}) (value of type "github.com/cloudwego/hertz/pkg/common/config".ClientOption) as type "github.com/hertz-contrib/http2/config".ClientOption in argument to factory.NewClientFactory

[code]

[2022-11-22 17:11] ultperf opened #410 "reverse proxy client "config" for h2 in cloudwego not the same as the one for hertz-contrib/http2/config ClientOption"
full script here
https://pastebin.com/vN2E3fLG

[code]

[code]

[2022-11-22 17:18] ultperf commented on #408
carrying on here :
https://github.com/cloudwego/hertz/issues/410

[2022-11-22 17:18] #408 closed

[2022-11-22 17:26] li-jin-gou commented on #410
[code]

[2022-11-22 20:07] ultperf opened #411 "what does this mean?"
[code]

using nginx with instructions on setting up https
is it because i need to set up http2 or something? possible to provide link to instructions on how to do http2 for nginx etc?

https://www.digitalocean.com/community/tutorials/how-to-create-a-self-signed-ssl-certificate-for-nginx-in-ubuntu-22-04

[2022-11-22 20:16] #410 closed

[2022-11-23 01:33] Duslia commented on #411
You use `http` to make a request. However, HTTP2 only supports `HTTPS`. If you'd like to use HTTP2 without TLS, you can use H2C

[2022-11-23 05:38] a631807682 commented on #381
Is it possible to parse it into an `AST` that meets the needs of the http client, and let the community or users themselves use different generators to support code generation in different languages or different client frameworks?
It is difficult for us to decide whether users should use the hertz client or even the go language.

[2022-11-23 10:37] sujit-baniya opened #413 "[QUESTION] - How can I pass multiple validator functions for struct binding?"
Can you please suggest on how can I pass multiple validator functions along with their individual validation error message?

For e.g.

[code]
Here I wanted to pass more validators for fields

**For username,**
required with error message "Email is required"
user_check with error message "User doesn't exist" (custom validator)
email with error message "Not an email"

**For password,**
required with

[2022-11-23 10:41] L2ncE commented on #413
refer to
https://www.cloudwego.io/docs/hertz/tutorials/basic-feature/binding-and-validate/
https://github.com/cloudwego/hertz-examples/tree/main/binding

[2022-11-23 10:43] sujit-baniya commented on #413
I did check them but didn't find clue about multiple validators

[2022-11-23 10:50] li-jin-gou commented on #413
hertz use https://github.com/bytedance/go-tagexpr binding and validatte package and you can read it's readme.
if you want to use `hz` and `idl` , you can refer to https://www.cloudwego.io/docs/hertz/tutorials/toolkit/toolkit/#supported-api-annotations-1

[2022-11-23 11:02] li-jin-gou commented on #413
This does not look like a Hertz error, which I have not encountered.

[2022-11-23 11:20] li-jin-gou commented on #413
yes, refer to https://github.com/gorilla/securecookie#examples
![image](https://user-images.githubusercontent.com/97824201/203534130-7470dcbb-fe54-4ef9-9b0b-885ab105b699.png)

[2022-11-23 15:57] sujit-baniya opened #414 "[QUESTION] - How to redirect to different url in middleware?"
I'm trying to redirect to different internal url in middleware, but I'm not redirected. This is the code I tried.

[code]

The code enters the middleware and inside the if for redirection when tried to visit `"/"`, but it's not redirecting to `"/foo"` and ends up with `"Home"` response

**Expected Result:**
The page should have redirected to `"/foo"` instead of going inside `"/"`

Please suggest w

[2022-11-23 16:00] li-jin-gou commented on #414
cc @zstone12

[2022-11-23 16:13] sujit-baniya commented on #414
@li-jin-gou In middleware whatever I put, `ctx.JSON()`, `ctx.HTML()`, `ctx.Redirect()`, the code is going inside `"/"` which is not expected

[2022-11-23 16:17] zstone12 commented on #414
![image](https://user-images.githubusercontent.com/28105615/203594968-78e5ebb2-a43c-4835-8e44-8d865ef45722.png)

Should use `ctx.Abort()`.
`Abort()` prevents pending handlers from being called.

[2022-11-23 16:20] li-jin-gou commented on #414
refer to https://www.cloudwego.io/zh/docs/hertz/tutorials/basic-feature/middleware/
use `ctx.Abort()`

[2022-11-23 16:21] sujit-baniya commented on #414
Ah! got it. So wouldn't it be good if `Abort()` is called inside `Redirect()`. I mean what would be the use of `Redirect()` if `Abort()` is not called?

[2022-11-23 16:38] zstone12 commented on #414
It about

[2022-11-23 16:51] li-jin-gou commented on #414
![image](https://user-images.githubusercontent.com/97824201/203603186-f348d9e7-99a5-471e-8ed2-eae59f0530d5.png)

here last handler.

[2022-11-23 16:54] #414 closed

[2022-11-24 02:40] Duslia commented on #411
Have you solved this question?

[2022-11-24 05:41] li-jin-gou commented on #386
PATL @wzekin

[2022-11-24 08:05] efectn commented on #257
Can you assign me to `pkg/route`

[2022-11-24 08:11] li-jin-gou commented on #257
thanks

[2022-11-24 11:10] welkeyever opened #415 "docs: add more info for graceful shutdown"
**Describe the solution you'd like**

Add more info to https://www.cloudwego.io/zh/docs/hertz/tutorials/basic-feature/graceful-shutdown/ (project [address](https://github.com/cloudwego/cloudwego.github.io/blob/main/content/zh/docs/hertz/tutorials/basic-feature/graceful-shutdown.md)):

1. Add introduction for `SetCustomSignalWaiter` cc: https://github.com/cloudwego/hertz/blob/develop/pkg/app/server

[2022-11-24 12:03] #402 closed

[2022-11-24 12:43] #411 closed

[2022-11-25 07:13] welkeyever opened #420 "docs: add docs for miagration"
**Describe the solution you'd like**

Add docs to https://www.cloudwego.io/zh/docs/hertz/ (project [address](https://github.com/cloudwego/cloudwego.github.io)):

1. Add migration docs for FastHTTP projects.
2. Add migration docs for Gin projects.

[2022-11-25 07:13] welkeyever commented on #386
cc #420

[2022-11-25 08:10] L2ncE opened #422 "docs: add documentation of csrf middleware"
**Describe alternatives you've considered**

We are now missing documentation for the [csrf middleware](https://github.com/hertz-contrib/csrf). Could you please help me add the doc?

**Tips**

You can create a `csrf.md` in [tutorials/basic-feature/middleware](https://github.com/cloudwego/cloudwego.github.io/tree/main/content/en/docs/hertz/tutorials/basic-feature/middleware).

**Note**
You can firs

[2022-11-26 02:51] ezewu opened #423 "embed如何使用?"
embed如何使用?

[2022-11-26 02:53] L2ncE commented on #423
Hi, u can improve the question according to the issue template to provide more information👏.

[2022-11-26 02:57] ezewu commented on #423
这个web框架还不支持使用 embed吗

[2022-11-26 04:13] li-jin-gou commented on #423
Yes and same to https://github.com/cloudwego/hertz/issues/324 cc @welkeyever

[2022-11-26 04:14] #300 closed

[2022-11-26 09:47] hiqsociety opened #424 "there is monoio for rust, can there be a thread per core for golang?"
there is monoio for rust, can there be a thread per core for golang?

thread per core golang is difficult coz of goroutine but go routine can be replaced with customized "goroutine" like gopool etc

possible to make it purely a thread per core version with other plugins / batteries designed for use with this customized thread per core version?

[2022-11-26 09:51] li-jin-gou commented on #424
netpoll use gopool refer to https://github.com/cloudwego/netpoll#features

[2022-11-26 12:49] ultperf opened #425 "how to use different tlsCfg like fasthttp in example code?"
i have a problem with the tls configuration.
sometimes depending on the ip address, i will use 1 version of tlsCfg, or another version of tlsCfg. I can do this switch in fasthttp when running in reverse proxy mode easily. how do i do the same for the below?

basically i'm using different tls cert for different types of ip origin... and sometimes domain name if i need to

fasthttp
[code]

hertz?
[c

[2022-11-26 12:54] li-jin-gou commented on #425
refer to https://www.cloudwego.io/docs/hertz/tutorials/basic-feature/protocol/tls/
https://github.com/cloudwego/hertz-examples/

[2022-11-26 13:34] ultperf commented on #425
is it already updated for tls or is there a workaround? sry i read but cant find

[2022-11-26 14:24] #425 closed

[2022-11-26 16:21] ultperf opened #426 "is there a way to keep the state of the hertz http session?"
how to keep stateOfThis variable for this state or is there a better work around other than using mutex lock etc?
[code]
[code]

[2022-11-27 07:19] li-jin-gou commented on #426
Why not store this variable in a stateful backend such as redis?

[2022-11-27 07:20] li-jin-gou commented on #426
If you use global variables I think you still need to lock them.

[2022-11-27 07:29] ultperf commented on #426
need extreme speed, wont use redis (too slow)
can u provide best example for the atomic operations?

would like to have the most extreme speed in this, highest performance way.

[2022-11-27 07:31] li-jin-gou commented on #426
https://pkg.go.dev/sync/atomic

[2022-11-27 07:37] ultperf commented on #426
i know how to use atomic operations but for the context of extreme performance and this hertz implementation, i dont see how i can make it super fast.

maybe shld consider using fasthttp way inside a for listening loop. is there an alternative for such hertz implementation as proposal. slowing down this part is not a very performant move.

[2022-11-27 07:41] li-jin-gou commented on #426
😂In the example I saw, stateOfThis is a global variable and is not used in conjunction with the context. I think it would be good to use atomic.

[2022-11-27 08:01] ultperf commented on #426
of course i know, i'm just giving example.
if have better solution using atomic or otherwise do mention.
i believe fasthttp is the right way to go with the listener in for loop. maybe this can be a feature request to resolve this issue.

[2022-11-27 08:03] ultperf commented on #426
how to do this without global variable? without global atomic locks etc?

[2022-11-27 08:11] ultperf opened #427 "fastest way to drop bad ips"
with regards to this issue
https://github.com/cloudwego/hertz/issues/426

how do i drop ips way before intercepted by hertz etc? at the network ip layer. because in the example shown, i still need to use the get certificate function to get the ip. i would like to drop the ip as fast as detected as bad ip in within my array

[2022-11-27 08:17] li-jin-gou commented on #427
same to https://github.com/valyala/fasthttp/issues/1424

[2022-11-27 08:17] #427 closed

[2022-11-27 08:23] li-jin-gou commented on #426
For something similar to a session, take a look at https://www.cloudwego.io/docs/hertz/tutorials/basic-feature/middleware/session/

[2022-11-27 08:30] ultperf commented on #427
what i mean is the fastest way to drop bad ip before routing through hertz? at netpoll ip detection layer?

[2022-11-27 08:31] li-jin-gou commented on #426
You can describe your needs in detail so that I can know how to help you. I have not used it. `fasthttp is the right way to go with the listener in for loop`

[2022-11-27 08:36] li-jin-gou commented on #427
Hertz also support Hijack.

[2022-11-27 08:40] li-jin-gou commented on #427
I'm in the process of putting together this section of the document and I expect to finish it today. refer to https://github.com/cloudwego/cloudwego.github.io/pull/450

[2022-11-27 08:44] ultperf opened #428 "fastest way to drop ip in fasthttp, how do i intercept the ip at netpoll layer before hertz?"
fastest way to drop ip in fasthttp, how do i intercept the ip at netpoll layer before hertz?

fasthttp
[code]

[2022-11-27 08:48] ultperf commented on #426
pls refer to here : https://github.com/cloudwego/hertz/issues/428
basically, i would like to match against an array of IPs and drop them as soon as possible once detected. going into tls config will be too slow. need fastest way to drop IPs

[2022-11-27 08:52] ultperf commented on #428
needing to route through hertz's GetCerticate func + a global array state ip... any more elegant or fastest way to get this done like fasthttp?
[code]

[2022-11-27 08:53] li-jin-gou commented on #423
Perhaps we could add a CI to limit the specification of the pull request and issue template.  refer to https://github.com/go-gorm/gorm.

[2022-11-27 11:29] zstone12 commented on #415
Please assign to me :D

[2022-11-27 11:32] li-jin-gou commented on #415
thanks

[2022-11-27 17:33] ultperf opened #429 "reverse_proxy.go:231: [Error] HERTZ: Client request error: "not support tls""
https://example.com , internally set

[code]
first run gives
[code]
then no errors. but first run will give the above. why and how to fix?

[2022-11-27 17:35] li-jin-gou commented on #429
refer to https://github.com/cloudwego/hertz-examples/blob/main/reverseproxy/tls/main.go#L71

[2022-11-27 17:40] ultperf commented on #429
now i get
[Error] HERTZ: Client request error: "tls: first record does not look like a TLS handshake"

after
[code]
what else is needed?

[2022-11-27 17:56] #429 closed

[2022-11-28 03:29] li-jin-gou commented on #377
thanks @wang-tsh

[2022-11-28 03:29] #377 closed

[2022-11-28 17:01] #424 closed

[2022-11-28 23:47] ultperf opened #431 "no Del and no Write for ctx.Request. Can help? where do i find the details for this again?"
no Del and no Write. Where can i find equivalent etc?
[code]

possible to provide the go doc section? sorry i cant seem to find it properly. not sure where to find it.

[2022-11-29 03:08] li-jin-gou commented on #428
I think the idea of this code is OK, and I'm thinking of other options.

[2022-11-29 03:26] wzekin commented on #431
The first question you can use [DelBytes](https://pkg.go.dev/github.com/cloudwego/hertz@v0.4.1/pkg/protocol#RequestHeader.DelBytes) to delete a header.
The second question hertz does not have a similar api, you can use [VisitAll](https://pkg.go.dev/github.com/cloudwego/hertz@v0.4.1/pkg/protocol#RequestHeader.VisitAll) to get headers and [BodyWriteTo](https://pkg.go.dev/github.com/cloudwego/hertz@v

[2022-11-29 06:40] godsoul opened #432 "set server context default timeout"
当hertz做服务端的时候，客户端没传context，可以给context.Context设置个默认超时时间。

[2022-11-29 06:44] li-jin-gou commented on #432
Hertz Server does not use context to control the timeout of requests. It provides write_timeout and read_timeout configurations.

[2022-11-29 07:19] li-jin-gou commented on #432
I think this could provide a timeout middleware that would help the business use context to control the timeout but we need to know that there is nothing we can do to stop the goroutine from continuing to execute even if we control the timeout. refer to https://github.com/valyala/fasthttp/issues/1447

[2022-11-29 07:31] ultperf opened #434 "how to check for errors in returned reverse proxy? example given."
fasthttp
[code]
hertz
[code]

[2022-11-29 08:13] L2ncE commented on #434
Just use `SetErrorHandler` to customize ur error handler.

See, https://github.com/cloudwego/hertz-examples/blob/main/reverseproxy/customize_error/main.go.

[2022-11-29 08:13] godsoul commented on #432
I want hetz context -> gorm WithContext -> redis context, but i got hertz context is context.Background(),no set timeout.

[2022-11-29 08:15] L2ncE commented on #434
In addition, I wrote an article to briefly introduce the use of reverse proxy in Hertz, you can refer to it.
See, https://dev.to/llance_24/golang-reverse-proxy-practices-36od

[2022-11-29 08:18] welkeyever commented on #432
It is available to set it according to your business logic through a middleware, and pass it through your third part SDKs.
More info: https://www.cloudwego.io/docs/hertz/tutorials/basic-feature/middleware/

[2022-11-29 08:24] Claude-Zq commented on #422
I want to work on this

[2022-11-29 08:25] L2ncE commented on #422
thx

[2022-11-29 09:54] ultperf commented on #431
@wzekin i'm not very sure but does VisitAll include cookies and every possible header information?

so body and visitall is all i need?

[2022-11-29 10:42] ultperf commented on #434
ok thx

[2022-11-29 10:42] #434 closed

[2022-11-29 10:59] ultperf opened #435 "question regarding context.Context"
just curious why need context.Context because fasthttp doesnt have this. cant just incorporate into ctx?
what is the purpose of cc context.Context?
[code]

[2022-11-29 15:56] li-jin-gou commented on #431
@ultperf Hertz not support  `Request.Write` func ,you can use Request's api to set http header、body and  status_code.

[2022-11-29 15:57] ultperf commented on #435
what is the use of context.Context then? in what circumstances will it be used?

[2022-11-29 16:02] li-jin-gou commented on #435
This is a good question.

The call link information will be stored using context.Context, such as logid、spanid、env_name etc. There is a high probability that this information will be used asynchronously.

The request context is more focused on handling requests and responses.

[2022-11-29 16:04] li-jin-gou commented on #435
refer to https://www.cloudwego.io/docs/hertz/faq/#context-guide

[2022-11-29 16:05] #431 closed

[2022-11-29 16:07] MindMayhem opened #436 "[Question] Why we using vendored bytebufferpool instead of valyala/bytebufferpool"
Greetings, i'm using Jade templating compiler, which uses [valyala/bytebufferpool](https://github.com/valyala/bytebufferpool)
Currently, i had to change every generated file from valyala repo to your's https://github.com/cloudwego/hertz/tree/develop/pkg/common/bytebufferpool to escape unneccesary byte buffer allocation and write template directly to `ctx.Response.BodyBuffer()`

I thought that you

[2022-11-29 16:08] ultperf commented on #435
pls provide examples of when or how to work with c context.Content
thx

[2022-11-29 16:13] li-jin-gou commented on #436
The question is really the same as how to use https://github.com/Joker/jade in Hertz

[2022-11-29 16:16] MindMayhem commented on #436
@li-jin-gou no, question is why we using vendored version of bytebufferpool instead of main repository, nothing more, a lot of templating compilers uses bytebufferpool

also, fasthttp and frameworks based on it uses valyala/bytebufferpool too

[2022-11-29 16:20] li-jin-gou commented on #436
Well, I thought you didn't know how to use jade anymore.  cc @Duslia @welkeyever

[2022-11-30 00:31] Duslia commented on #435
You can use it for trace and metrics.
https://github.com/hertz-contrib/obs-opentelemetry
https://github.com/hertz-contrib/monitor-prometheus

[2022-11-30 03:00] welkeyever commented on #436
Good question.
Initially this part is to ensure that the initial iterations are fast and the code is statically stable, and vendor is the fastest way.

I do think it is better to directly depend on the origin repo if there is no more changes at this time.

Will check this ASAP. Thanks for your report.

[2022-11-30 05:11] EduFriendChen commented on #432
Please assign it to me

[2022-11-30 10:27] SeigeC opened #439 "hertz 添加新生成的模板"
**Is your feature request related to a problem? Please describe.**
hertz 生成的模板在调用 c.Json 后还需多写个 return 才能结束函数，会导致因为一些异常情况忘记写 return 导致发生预期之外的情况，所以希望生成的模板能添加 `return  resp, err` 的写法